<template>
  <div>
    <div class="mx-5 mt-2">
      <span class="h4 fw-bolder d-flex ml-5 pl-5 heading">Analytics</span>
      <div class="grid-container">
        <div class="card">
          <div>
            <div
              class="ml-5 pl-5 mt-2 float-left fw-bold h4 text-decoration-underline d-inline-block heading"
            >
              Drive Conducted
            </div>
            <div
              class="btn-group float-right d-inline-block mr-4"
              role="group"
              aria-label="Basic example"
              title="Select Duration"
            >
              <v-col class="float-right" cols="6" id="dateDropdown">
                <v-select
                  :items="items"
                  label="Select Duration"
                  dense
                  reverse
                  solo
                  v-model="selectedVal"
                  :messages="selectedVal === 'Manual' ? dateMessage : ''"
                  @input="popupState"
                ></v-select>
              </v-col>
              <template>
                <v-row justify="center">
                  <v-dialog v-model="dialog" max-width="fit-content">
                    <v-card>
                      <v-card-title class="headline bg-primary text-light">
                        Select Duration
                        <button
                          type="button"
                          class="mb-5 ml-auto"
                          data-dismiss="modal"
                          aria-label="Close"
                          @click="
                            (startDate = ''),
                              (endDate = ''),
                              (endDateErrorMsg = ''),
                              (startDateErrorMsg = ''),
                              closeDatePicker()
                          "
                          title="Close"
                        >
                          <span aria-hidden="true" :style="getIconStyle"
                            >&times;</span
                          >
                        </button>
                      </v-card-title>
                      <v-card-text>
                        <v-row class="mt-3 px-4">
                          <v-col cols="12" class="mx-auto" id="startDate">
                            <v-menu
                              ref="menu1"
                              v-model="menu1"
                              :close-on-content-click="true"
                              transition="scale-transition"
                              offset-y
                              max-width="290px"
                              min-width="auto"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="startDate"
                                  label="Start Date (YYYY-MM-DD)"
                                  prepend-icon="mdi-calendar"
                                  v-bind="attrs"
                                  v-on="on"
                                  :messages="
                                    startDateErrorMsg === ''
                                      ? ''
                                      : startDateErrorMsg
                                  "
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="startDate"
                                no-title
                                @input="
                                  (menu1 = false),
                                    selectedDate(),
                                    validateDate()
                                "
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="12" id="endDate">
                            <v-menu
                              ref="menu2"
                              v-model="menu2"
                              :close-on-content-click="false"
                              transition="scale-transition"
                              offset-y
                              max-width="290px"
                              min-width="auto"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="endDate"
                                  default="2020-01-01"
                                  label="End Date(YYYY-MM-DD)"
                                  prepend-icon="mdi-calendar"
                                  v-bind="attrs"
                                  v-on="on"
                                  :messages="
                                    endDateErrorMsg ? endDateErrorMsg : ''
                                  "
                                ></v-text-field>
                              </template>
                              <v-date-picker
                                v-model="endDate"
                                no-title
                                @input="
                                  (menu2 = false),
                                    selectedDate(),
                                    validateDate()
                                "
                              ></v-date-picker>
                            </v-menu>
                          </v-col>
                        </v-row>
                      </v-card-text>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="green darken-1"
                          text
                          @click="
                            calculateOldDate(),
                              closeDatePicker(),
                              getDriveDetails()
                          "
                        >
                          Done
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-row>
              </template>
            </div>
          </div>
          <div class="card-body side-grid-container" v-if="driveInfo.drivesConducted.length > 0">
            <div>
              <DonutChart
                :donutDetails="donutObj"
                v-if="driveInfo.drivesConducted.length > 0"
              />
              <div class="btn-container w-75 mx-auto mt-4">
                <button
                  class="button"
                  @click.prevent="
                    routeToListWithSort(
                      'All',
                      donutObj.driveId,
                      donutObj.driveName,
                      donutObj.driveDateTime
                    )
                  "
                >
                  All</button
                ><button
                  class="button"
                  @click.prevent="
                    routeToListWithSort(
                      'Training',
                      donutObj.driveId,
                      donutObj.driveName,
                      donutObj.driveDateTime
                    )
                  "
                >
                  Training</button
                ><button
                  class="button"
                  @click.prevent="
                    routeToListWithSort(
                      'Selected',
                      donutObj.driveId,
                      donutObj.driveName,
                      donutObj.driveDateTime
                    )
                  "
                >
                  Selected</button
                ><button
                  class="button"
                  @click.prevent="
                    routeToListWithSort(
                      'Rejected',
                      donutObj.driveId,
                      donutObj.driveName,
                      donutObj.driveDateTime
                    )
                  "
                >
                  Rejected</button
                ><button
                  class="button"
                  @click.prevent="
                    routeToListWithSort(
                      'Addressing',
                      donutObj.driveId,
                      donutObj.driveName,
                      donutObj.driveDateTime
                    )
                  "
                >
                  Addressing
                </button>
              </div>
            </div>
            <div class="min-grid-container">
              <template v-for="(item, index) in driveInfo.drivesConducted">
                <DonutChart
                  :donutDetails="ProvideSideDonut(index)"
                  v-if="index >= leftStartIndex && index < leftEndIndex"
                  :key="index"
                  @Update-Donut="
                    (value) => {
                      switchDonut(value);
                    }
                  "
                />
              </template>
            </div>
          </div>
          <div v-else class="notfound mt-5 pt-5">
            No Drive Data Found</div>
          <div class="text-center mb-4" v-if="driveInfo.drivesConducted.length > 0">
            <v-pagination
              v-model="leftPage"
              :length="totalLeftPage"
              :total-visible="5"
            ></v-pagination>
          </div>
        </div>
        <div class="card">
          <div>
            <div
              class="ml-5 pl-5 mt-2 float-left fw-bold h4 text-decoration-underline d-inline-block heading"
            >
              Upcoming Drives
            </div>
            <div class="float-right mt-2 mr-4">
              <button
                class="btn py-0 px-0 mr-4 mt-1"
                @click.prevent="masterListOpen"
              >
                <font-awesome-icon icon="list-alt" class="mr-1" />
              </button>
              <router-link exact to="/fileupload">
                <button
                  type="button"
                  class="btn text-light py-0 px-4 buttonBackground"
                  title="Add Drive"
                >
                  <font-awesome-icon icon="plus" class="mr-1" />
                  Add
                </button>
              </router-link>
            </div>
          </div>
          <div class="container card-container mx-auto mt-5">
            <div class="card-grid" id="cardGrid" v-if="driveInfo.upcomingDrives.length > 0">
              <template v-for="(item, index) in driveInfo.upcomingDrives">
                <DriveCard
                  v-if="index >= rightStartIndex && index < rightEndIndex"
                  :driveDetails="item"
                  :key="index"
                  class="mx-auto"
                  :masterChecklistData="driveInfo.masterChecklistData"
                />
              </template>
            </div>
            <div class="notfound mt-5 pt-5" v-else>No Drive Data Found</div>
            <div class="text-center" >
              <v-pagination v-if="driveInfo.upcomingDrives.length > 0"
                v-model="rightPage"
                :length="totalPage"
                :total-visible="5"
              ></v-pagination>
            </div>
          </div>
        </div>
      </div>
      <MasterListPopup
        v-if="masterListModal"
        @closeMasterlist="masterListClose"
        :masterChecklistData="driveInfo.masterChecklistData"
        @emitMasterChecklistData="saveMasterCheckList"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import DonutChart from "@/components/DonutChart.vue";
import DriveCard from "@/components/DriveCard.vue";
import MasterListPopup from "@/components/MasterListPopup.vue";
import { HTTP } from "@/http/http-common";
import Loading from "@/components/Loading.vue";

@Component({
  components: {
    DonutChart,
    DriveCard,
    MasterListPopup,
    Loading,
  },
})
export default class Analytics extends Vue {
  selectedVal = "1 Month";
  showdropdown = false;
  dialog = false;
  dateMessage = "";
  endDateErrorMsg = "";
  startDateErrorMsg = "";
  masterListModal = false;
  isloading = false;
  masterListClose(): void {
    this.masterListModal = false;
  }
  masterListOpen(): void {
    this.masterListModal = true;
  }
  driveInfo: {
    drivesConducted: Array<{
      driveId: number;
      driveName: string;
      driveDateTime: string;
      noOfRegisteredCandidates: number;
      noOfSelectedCandidates: number;
      noOfCandidatesAttendedAddressing: number;
      noOfCandidatesTurnedUpForTraing: number;
      noOfCandidatesRejected: number;
      noOfCandidatesNotAttended: number;
    }>;
    upcomingDrives: Array<{
      driveId: number;
      driveName: string;
      driveDateTime: string;
    }>;
    masterChecklistData: Array<{
      checklistId: number;
      checklistValue: string;
      lastUpdatedAt: string;
      lastUpdatedBy: null;
    }>;
  } = {
    drivesConducted: [
      {
        driveId: 0,
        driveName: "",
        driveDateTime: "",
        noOfRegisteredCandidates: 0,
        noOfSelectedCandidates: 0,
        noOfCandidatesAttendedAddressing: 0,
        noOfCandidatesTurnedUpForTraing: 0,
        noOfCandidatesRejected: 0,
        noOfCandidatesNotAttended: 0,
      },
    ],
    upcomingDrives: [
      {
        driveId: 0,
        driveName: "",
        driveDateTime: "",
      },
    ],
    masterChecklistData: [
      {
        checklistId: 0,
        checklistValue: "",
        lastUpdatedAt: "",
        lastUpdatedBy: null,
      },
    ],
  };

  fromDate = "";
  toDate = "";
  donutObj = {
    driveId: this.driveInfo.drivesConducted[
      this.driveInfo.drivesConducted.length - 1
    ].driveId,
    driveName: this.driveInfo.drivesConducted[
      this.driveInfo.drivesConducted.length - 1
    ].driveName,
    driveDateTime: this.driveInfo.drivesConducted[
      this.driveInfo.drivesConducted.length - 1
    ].driveDateTime,
    hasLegend: true,
    type: "main",
    size: 53,
    unit: "%",
    sections: [
      {
        label: "Rejected",
        value: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfCandidatesRejected,
        color: "rgb(228, 73, 73)",
      },
      {
        label: "Selected",
        value: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfSelectedCandidates,
        color: "rgb(28, 177, 28)",
      },
      {
        label: "Attended Addressing Session",
        value: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfCandidatesAttendedAddressing,
        color: "rgb(38, 38, 175)",
      },
      {
        label: "Onboarding",
        value: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfCandidatesTurnedUpForTraing,
        color: "rgb(255, 185, 58)",
      },
      {
        label: "Not Attended",
        value: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfCandidatesNotAttended,
        color: "gray",
      },
    ],
    registeredCandidates: this.driveInfo.drivesConducted[
      this.driveInfo.drivesConducted.length - 1
    ].noOfRegisteredCandidates,
    selectedCandidates: this.driveInfo.drivesConducted[
      this.driveInfo.drivesConducted.length - 1
    ].noOfSelectedCandidates,
    candidatesAttendedAddressing: this.driveInfo.drivesConducted[
      this.driveInfo.drivesConducted.length - 1
    ].noOfCandidatesAttendedAddressing,
    candidatesTurnedUpForTraing: this.driveInfo.drivesConducted[
      this.driveInfo.drivesConducted.length - 1
    ].noOfCandidatesTurnedUpForTraing,
    candidatesRejected: this.driveInfo.drivesConducted[
      this.driveInfo.drivesConducted.length - 1
    ].noOfCandidatesRejected,
    candidatesNotAttended: this.driveInfo.drivesConducted[
      this.driveInfo.drivesConducted.length - 1
    ].noOfCandidatesNotAttended,
  };
  getMainDonutDetails(): void {
    if (this.driveInfo.drivesConducted.length !== 0) {
      this.donutObj = {
        driveId: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].driveId,
        driveName: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].driveName,
        driveDateTime: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].driveDateTime,
        hasLegend: true,
        type: "main",
        size: 53,
        unit: "%",
        sections: [
          {
            label: `Selected (${
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfSelectedCandidates
            })`,
            value: this.getPercentage(
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfSelectedCandidates,
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfRegisteredCandidates
            ),
            color: "rgb(28, 177, 28)",
          },
          {
            label: `Attended Addressing Session (${
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfCandidatesAttendedAddressing
            })`,
            value: this.getPercentage(
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfCandidatesAttendedAddressing,
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfRegisteredCandidates
            ),
            color: "rgb(38, 38, 175)",
          },
          {
            label: `Onboarding (${
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfCandidatesTurnedUpForTraing
            })`,
            value: this.getPercentage(
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfCandidatesTurnedUpForTraing,
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfRegisteredCandidates
            ),
            color: "rgb(255, 185, 58)",
          },
          {
            label: `Rejected (${
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfCandidatesRejected
            })`,
            value: this.getPercentage(
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfCandidatesRejected,
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfRegisteredCandidates
            ),
            color: "rgb(228, 73, 73)",
          },
          {
            label: `Not Attended (${
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfCandidatesNotAttended
            })`,
            value: this.getPercentage(
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfCandidatesNotAttended,
              this.driveInfo.drivesConducted[
                this.driveInfo.drivesConducted.length - 1
              ].noOfRegisteredCandidates
            ),
            color: "gray",
          },
        ],
        registeredCandidates: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfRegisteredCandidates,
        selectedCandidates: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfSelectedCandidates,
        candidatesAttendedAddressing: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfCandidatesAttendedAddressing,
        candidatesTurnedUpForTraing: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfCandidatesTurnedUpForTraing,
        candidatesRejected: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfCandidatesRejected,
        candidatesNotAttended: this.driveInfo.drivesConducted[
          this.driveInfo.drivesConducted.length - 1
        ].noOfCandidatesNotAttended,
      };
    }
  }

  getPercentage(value: number, total: number): number {
    const returnVal = (value * 100) / total;
    return isNaN(returnVal) ? 0 : returnVal;
  }

  items = ["1 Month", "2 Months", "3 Months", "6 Months", "1 Year", "Manual"];
  menu1 = false;
  startDate = new Date().toISOString().substr(0, 10);
  dateFormatted = this.formatDate(new Date().toISOString().substr(0, 10));
  menu2 = false;
  endDate = new Date().toISOString().substr(0, 10);
  showModal = false;
  rightStartIndex = 0;
  rightEndIndex = 9;
  rightPage = 1;
  cardsInEachRightPage = this.rightEndIndex;
  totalPage = Math.ceil(
    this.driveInfo.upcomingDrives.length / this.cardsInEachRightPage
  );
  leftPage = 1;
  leftStartIndex = 0;
  leftEndIndex = 9;
  cardsInEachLeftPage = this.leftEndIndex;
  totalLeftPage = Math.ceil(
    this.driveInfo.drivesConducted.length / this.cardsInEachLeftPage
  );

  @Watch("rightPage")
  paginationChange(): void {
    if (this.rightPage === 1) {
      this.rightStartIndex = 0;
      this.rightEndIndex = this.cardsInEachRightPage;
    } else {
      this.rightStartIndex = this.cardsInEachRightPage * (this.rightPage - 1);
      this.rightEndIndex = this.cardsInEachRightPage * this.rightPage;
    }
  }
  @Watch("leftPage")
  leftPaginationChanges(): void {
    if (this.leftPage === 1) {
      this.leftStartIndex = 0;
      this.leftEndIndex = this.cardsInEachLeftPage;
    } else {
      this.leftStartIndex = this.cardsInEachLeftPage * (this.leftPage - 1);
      this.leftEndIndex = this.cardsInEachLeftPage * this.leftPage;
    }
  }

  //provides object to display in the chart
  ProvideSideDonut(
    index: number
  ): {
    driveId: number;
    driveName: string;
    driveDateTime: string;
    hasLegend: boolean;
    type: string;
    size;
    unit: string;
    sections;
    registeredCandidates: number;
    selectedCandidates: number;
    candidatesAttendedAddressing: number;
    candidatesTurnedUpForTraing: number;
    candidatesRejected: number;
    candidatesNotAttended: number;
  } {
    return {
      driveId: this.driveInfo.drivesConducted[index].driveId,
      driveName: this.driveInfo.drivesConducted[index].driveName,
      driveDateTime: this.driveInfo.drivesConducted[index].driveDateTime,
      hasLegend: false,
      type: "side",
      size: 90,
      unit: "px",
      sections: [
        {
          label: `Selected (${this.driveInfo.drivesConducted[index].noOfSelectedCandidates})`,
          value: this.getPercentage(
            this.driveInfo.drivesConducted[index].noOfSelectedCandidates,
            this.driveInfo.drivesConducted[index].noOfRegisteredCandidates
          ),
          color: "rgb(28, 177, 28)",
        },
        {
          label: `Attended Addressing Session (${this.driveInfo.drivesConducted[index].noOfCandidatesAttendedAddressing})`,
          value: this.getPercentage(
            this.driveInfo.drivesConducted[index]
              .noOfCandidatesAttendedAddressing,
            this.driveInfo.drivesConducted[index].noOfRegisteredCandidates
          ),
          color: "rgb(38, 38, 175)",
        },
        {
          label: `Onboarding (${this.driveInfo.drivesConducted[index].noOfCandidatesTurnedUpForTraing})`,
          value: this.getPercentage(
            this.driveInfo.drivesConducted[index]
              .noOfCandidatesTurnedUpForTraing,
            this.driveInfo.drivesConducted[index].noOfRegisteredCandidates
          ),
          color: "rgb(255, 185, 58)",
        },
        {
          label: `Rejected (${this.driveInfo.drivesConducted[index].noOfCandidatesRejected})`,
          value: this.getPercentage(
            this.driveInfo.drivesConducted[index].noOfCandidatesRejected,
            this.driveInfo.drivesConducted[index].noOfRegisteredCandidates
          ),
          color: "rgb(228, 73, 73)",
        },
        {
          label: `Not Attended (${this.driveInfo.drivesConducted[index].noOfCandidatesNotAttended})`,
          value: this.getPercentage(
            this.driveInfo.drivesConducted[index].noOfCandidatesNotAttended,
            this.driveInfo.drivesConducted[index].noOfRegisteredCandidates
          ),
          color: "Gray",
        },
      ],
      registeredCandidates: this.driveInfo.drivesConducted[index]
        .noOfRegisteredCandidates,
      selectedCandidates: this.driveInfo.drivesConducted[index]
        .noOfSelectedCandidates,
      candidatesAttendedAddressing: this.driveInfo.drivesConducted[index]
        .noOfCandidatesAttendedAddressing,
      candidatesTurnedUpForTraing: this.driveInfo.drivesConducted[index]
        .noOfCandidatesTurnedUpForTraing,
      candidatesRejected: this.driveInfo.drivesConducted[index]
        .noOfCandidatesRejected,
      candidatesNotAttended: this.driveInfo.drivesConducted[index]
        .noOfCandidatesNotAttended,
    };
  }
  //for date format
  formatDate(date: string): string | null {
    if (!date) return null;
    const [year, month, day] = date.split("-");
    return `${month}/${day}/${year}`;
  }
  //for date format
  parseDate(date: string): string | null {
    if (!date && date !== undefined) return null;
    const [month, day, year] = date.split("-");
    return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
  }
  //displaying the selected start and end date
  selectedDate(): void {
    this.dateMessage = `${this.calculateDay(this.startDate)} ${
      this.startDate.split("-")[2]
    }, ${this.startDate.split("-")[0]} - ${this.calculateDay(this.endDate)} ${
      this.endDate.split("-")[2]
    }, ${this.endDate.split("-")[0]}`;
    this.calculateDay(this.startDate);
  }

  calculateDay(item: string): string {
    let date = new Date(item.split(" ")[0]);
    const monthNmae = [
      "Jan",
      "Feb",
      "Mar",
      "Apr",
      "May",
      "Jun",
      "Jul",
      "Aug",
      "Sept",
      "Oct",
      "Nov",
      "Dec",
    ];
    let day = monthNmae[date.getMonth()];
    return day;
  }

  get getIconStyle(): Partial<CSSStyleDeclaration> {
    return { color: "white" };
  }

  //to display the clicked donut on the left side
  switchDonut(item: {
    driveId: number;
    driveName: string;
    driveDateTime: string;
    hasLegend: boolean;
    type: string;
    size: number;
    unit: string;
    sections: {
      label: string;
      value: number;
      color: string;
    }[];
    registeredCandidates: number;
    selectedCandidates: number;
    candidatesAttendedAddressing: number;
    candidatesTurnedUpForTraing: number;
    candidatesRejected: number;
    candidatesNotAttended: number;
  }): void {
    this.donutObj = item;
    this.donutObj.size = 53;
    this.donutObj.type = "main";
    this.donutObj.hasLegend = true;
    this.donutObj.unit = "%";
  }
  //manual date selection popup
  popupState(): void {
    if (this.selectedVal === "Manual") {
      this.dialog = true;
      this.selectedDate()
    } else {
      this.dialog = false;
      this.dateMessage = "";
    }
  }

  //Calculating the previous date specified in the dropdown
  @Watch("selectedVal")
  calculateOldDate(): void {
    let date = new Date();
    const currentTime =
      (date.getHours() < 10
        ? "0" + date.getHours()
        : date.getHours().toString()) +
      ":" +
      (date.getMinutes() < 10
        ? "0" + date.getMinutes()
        : date.getMinutes().toString()) +
      ":" +
      (date.getSeconds() < 10
        ? "0" + date.getSeconds()
        : date.getSeconds().toString());
    this.toDate =
      date.getFullYear() +
      "-" +
      (date.getMonth() + 1 < 10
        ? "0" + (date.getMonth() + 1)
        : (date.getMonth() + 1).toString()) +
      "-" +
      (date.getDate() < 10 ? "0" + date.getDate() : date.getDate().toString()) +
      " " +
      currentTime;
    if (this.selectedVal === "1 Month") {
      date.setMonth(date.getMonth() - 1);
      const month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : (date.getMonth() + 1).toString();
      let currentDate =
        date.getFullYear().toString() +
        "-" +
        month +
        "-" +
        date.getDate().toString();
      this.fromDate = currentDate + " " + currentTime;
    } else if (this.selectedVal === "2 Months") {
      date.setMonth(date.getMonth() - 2);
      const month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : (date.getMonth() + 1).toString();
      let currentDate =
        date.getFullYear().toString() +
        "-" +
        month +
        "-" +
        date.getDate().toString();
      this.fromDate = currentDate + " " + currentTime;
    } else if (this.selectedVal === "3 Months") {
      date.setMonth(date.getMonth() - 3);
      const month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : (date.getMonth() + 1).toString();
      let currentDate =
        date.getFullYear().toString() +
        "-" +
        month +
        "-" +
        date.getDate().toString();
      this.fromDate = currentDate + " " + currentTime;
    } else if (this.selectedVal === "6 Months") {
      date.setMonth(date.getMonth() - 6);
      const month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : (date.getMonth() + 1).toString();
      let currentDate =
        date.getFullYear().toString() +
        "-" +
        month +
        "-" +
        date.getDate().toString();
      this.fromDate = currentDate + " " + currentTime;
    } else if (this.selectedVal === "1 Year") {
      date.setMonth(date.getMonth() - 12);
      const month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : (date.getMonth() + 1).toString();
      let currentDate =
        date.getFullYear().toString() +
        "-" +
        month +
        "-" +
        date.getDate().toString();
      this.fromDate = currentDate + " " + currentTime;
    } else {
      this.toDate = this.endDate + " " + currentTime;
      this.fromDate = this.startDate + " " + currentTime;
    }
    if (this.selectedVal !== "Manual") {
      this.getDriveDetails();
    }
  }
  //rout to list page with filter functionality
  routeToListWithSort(
    sortKey: string,
    itemId: string,
    driveName: string,
    driveDateTime: string
  ): void {
    this.$router.push({
      name: "list",
      params: {
        sortKey: sortKey,
        analytics_driveId: itemId,
        analytics_driveName: driveName,
        analytics_driveDateTime: driveDateTime,
      },
    });
  }
  //validate start date and end date
  validateDate(): void {
    const date = new Date();
    if (parseInt(this.startDate.split("-")[2]) > date.getDate()) {
      this.startDateErrorMsg = "Start date must not exceed current date ";
    } else if (parseInt(this.startDate.split("-")[1]) > date.getMonth() + 1) {
      this.startDateErrorMsg = "Start date must not exceed current date ";
    } else if (parseInt(this.startDate.split("-")[0]) > date.getFullYear()) {
      this.startDateErrorMsg = "Start date must not exceed current date ";
    } else if (this.startDate.split("-")[2] > this.endDate.split("-")[2]) {
      this.startDateErrorMsg = "start date should be less than end date";
    } else if (this.startDate.split("-")[1] > this.endDate.split("-")[1]) {
      this.startDateErrorMsg = "start date should be less than end date";
    } else if (this.startDate.split("-")[0] > this.endDate.split("-")[0]) {
      this.startDateErrorMsg = "start date should be less than end date";
    } else {
      this.startDateErrorMsg = "";
    }
    if (parseInt(this.endDate.split("-")[2]) > date.getDate()) {
      this.endDateErrorMsg = "End date must not exceed current date ";
    } else if (parseInt(this.endDate.split("-")[1]) > date.getMonth() + 1) {
      this.endDateErrorMsg = "End date must not exceed current date ";
    } else if (parseInt(this.endDate.split("-")[0]) > date.getFullYear()) {
      this.endDateErrorMsg = "End date must not exceed current date ";
    } else if (this.startDate.split("-")[2] > this.endDate.split("-")[2]) {
      this.endDateErrorMsg = "End date shouldn't be less than start date";
    } else if (this.startDate.split("-")[1] > this.endDate.split("-")[1]) {
      this.endDateErrorMsg = "End date shouldn't be less than start date";
    } else if (this.startDate.split("-")[0] > this.endDate.split("-")[0]) {
      this.endDateErrorMsg = "End date shouldn't be less than start date";
    } else {
      this.endDateErrorMsg = "";
    }
  }
  //to close date picker modal
  closeDatePicker(): void {
    if (this.endDateErrorMsg === "" && this.startDateErrorMsg === "") {
      this.dialog = false;
    }
  }
  async getDriveDetailsWithMasterCheckList(): Promise<void> {
    try {
      this.isloading = true;
      const res = await HTTP.get(
        `getdrivesconductedinfo?fromDate=${this.fromDate}&toDate=${this.toDate}`
      );
      if (!res.data.error) {
        this.driveInfo = res.data.data;
        this.getMainDonutDetails();
      }
      this.isloading = false;
      this.totalPage = Math.ceil(
        this.driveInfo.upcomingDrives.length / this.cardsInEachRightPage
      );
      this.totalLeftPage = Math.ceil(
        this.driveInfo.drivesConducted.length / this.cardsInEachLeftPage
      );
    } catch (error) {
      this.isloading = false;
      console.log("Error", error);
    }
  }
  async getDriveDetails(): Promise<void> {
    if (this.endDateErrorMsg === "" && this.startDateErrorMsg === "") {
      try {
        this.isloading = true;
        const res = await HTTP.get(
          `driveConducted?fromDate=${this.fromDate}&toDate=${this.toDate}`
        );
        if (!res.data.error) {
          this.driveInfo.drivesConducted = res.data.data;
          this.getMainDonutDetails();
        }
        this.isloading = false;
        this.totalLeftPage = Math.ceil(
          this.driveInfo.drivesConducted.length / this.cardsInEachLeftPage
        );
      } catch (error) {
        this.isloading = false;
        console.log("Error", error);
      }
    }
  }

  calculateOneMonth(): void {
    let date = new Date();
    const currentTime =
      (date.getHours() < 10
        ? "0" + date.getHours()
        : date.getHours().toString()) +
      ":" +
      (date.getMinutes() < 10
        ? "0" + date.getMinutes()
        : date.getMinutes().toString()) +
      ":" +
      (date.getSeconds() < 10
        ? "0" + date.getSeconds()
        : date.getSeconds().toString());
    this.toDate =
      date.getFullYear() +
      "-" +
      (date.getMonth() + 1 < 10
        ? "0" + (date.getMonth() + 1)
        : (date.getMonth() + 1).toString()) +
      "-" +
      (date.getDate() < 10 ? "0" + date.getDate() : date.getDate().toString()) +
      " " +
      currentTime;
    if (this.selectedVal === "1 Month") {
      date.setMonth(date.getMonth() - 1);
      const month =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : (date.getMonth() + 1).toString();
      let currentDate =
        date.getFullYear().toString() +
        "-" +
        month +
        "-" +
        date.getDate().toString();
      this.fromDate = currentDate + " " + currentTime;
    }
  }
  mounted(): void {
    this.calculateOneMonth();
    this.getDriveDetailsWithMasterCheckList();
  }

  //save masterCheckList
  saveMasterCheckList(
    item: Array<{
      checklistId: number | null;
      checklistValue: string;
      lastUpdatedAt: string;
      lastUpdatedBy: null;
    }>
  ): void {
    this.driveInfo.masterChecklistData = JSON.parse(JSON.stringify(item));
  }
}
</script>

<style scoped>
.card-header {
  font-weight: 200;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% auto;
  grid-row-gap: 50px;
  grid-column-gap: 30px;
}
.fa-list-alt {
  font-size: 25px;
}
.btn-outline-secondary {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 15px;
  font-size: 15px;
  margin: 0px 6px 5px 0px;
}
.side-grid-container {
  display: grid;
  grid-template-columns: 50% auto;
  grid-column-gap: 30px;
  height: 510px;
  overflow: hidden;
}
.min-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  height: 510px;
  overflow: auto;
}
.card-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 8px;
  height: 510px;
  overflow-y: auto;
}
@media only screen and (min-width: 1000px) and (max-width: 1399px) {
  .min-grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .min-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    height: 450px;
    margin-bottom: 4px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 699px) {
  .min-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    height: 450px;
    margin-bottom: 4px;
  }
}
@media only screen and (max-width: 499px) {
  .min-grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
    height: 450px;
    margin-bottom: 4px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 999px) {
  .side-grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 20px;
    height: 450px;
    overflow: hidden;
  }
  .card-grid {
    display: grid;
    grid-template-columns: auto;
    align-content: flex-start;
    height: 960px;
    overflow-y: auto;
  }
  .card-container {
    height: fit-content;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1520px) {
  .min-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
    grid-template-rows: 140px 140px 140px;
    height: 510px;
  }
  .card-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-content: flex-start;
    height: 540px;
    overflow-y: auto;
  }
  .side-grid-container {
    display: grid;
    grid-template-columns: 50% auto;
    /* grid-row-gap: 50px; */
    grid-column-gap: 30px;
    height: 510px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1521px) and (max-width: 1680px) {
  .min-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    grid-template-rows: 140px 140px 140px;
    height: 510px;
  }
  .side-grid-container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 30px;
    height: 510px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1681px) and (max-width: 1780px) {
  .min-grid-container {
    display: grid;
    grid-template-rows: 170px;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    height: 560px;
  }
}
@media only screen and (min-width: 1781px) and (max-width: 2050px) {
  .min-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    grid-template-rows: 140px;
    height: 560px;
  }
  .side-grid-container {
    display: grid;
    grid-template-columns: 50% auto;
    /* grid-row-gap: 50px; */
    grid-column-gap: 30px;
    height: 560px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1681px) and (max-width: 1950px) {
  .card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: flex-start;
    height: 580px;
  }
}

@media only screen and (min-width: 1951px) and (max-width: 2049px) {
  .card-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: flex-start;
    height: 620px;
  }
}
@media only screen and (min-width: 2050px) {
  .min-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 20px;
    grid-template-rows: 140px 140px 140px;
    height: 670px;
  }
  .card-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: flex-start;
    height: 650px;
  }
  .side-grid-container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 30px;
    height: 670px;
    overflow: hidden;
  }
}
#cardGrid::-webkit-scrollbar {
  display: none !important;
}
.button {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 2px 10px;
  margin: 2px 4px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 20px;
}
.button:hover {
  color: white;
  background-color: black;
}

.buttonBackground {
  background-color: #212540 !important;
}
.datePicker {
  color: white !important;
}
.v-btn > .v-btn__content .v-icon {
  color: white !important;
}
.v-date-picker-table .v-btn {
  background-color: white !important;
  color: black !important;
}
.v-dialog > .v-card {
  width: 400px !important;
  /* height: 330px !important; */
}
.text-center > .v-btn {
  height: fit-content !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background-color: #212540 !important;
}
::-webkit-scrollbar {
  display: none;
}
#bg-div {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.heading{
  cursor: default;
}
.notfound{
  height: 20vh;
}
</style>

 <style >
#dateDropdown > .v-input > .v-input__control > .v-input__slot {
  background-color: #212540 !important;
}

#dateDropdown
  > .v-input
  > .v-input__control
  > .v-input__slot
  > .v-select__slot
  > .v-select__selections
  > .v-select__selection {
  color: white !important;
}
.v-dialog > .v-card > .v-card__title {
  padding: 25px 24px 10px !important;
}
.pointerClass {
  cursor: pointer;
}
#dateDropdown
  > .v-input
  > .v-input__control
  > .v-input__slot
  > .v-select__slot
  > .v-input__append-inner
  > .v-input__icon
  > .mdi {
  color: white !important;
}
.v-select__selections > input {
  width: 160px;
}
.v-text-field.v-text-field--solo.v-input--dense > .v-input__control {
  min-height: none !important;
}

#startDate
  > .v-input
  > .v-input__control
  > .v-text-field__details
  > .v-messages
  > .v-messages__wrapper
  > .v-messages__message {
  color: red !important;
}
#endDate
  > .v-input
  > .v-input__control
  > .v-text-field__details
  > .v-messages
  > .v-messages__wrapper
  > .v-messages__message {
  color: red !important;
}
#dateDropdown {
  height: 65px;
}
:focus {
  outline: none !important;
}
</style>