<template>
  <div class="customSelect">
    <select
      class="form-select empty"
      @change="changeInputValue"
      aria-label="Default select example"
      ref="selectOption"
      :disabled="readonlyAt"
    >
      <option value="" selected disabled>{{ placeHolder }}</option>
      <option
        :key="arrayData"
        v-for="arrayData of dropDownValue"
        :value="arrayData"
      >
        {{ arrayData }}
      </option>
    </select>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Ref, Vue, Watch } from "vue-property-decorator";

@Component({
  components: {},
})
export default class CustomSelect extends Vue {
  @Prop() placeHolder!: string;
  @Prop() dropDownValue!: string[];
  @Prop() selectedValue!: string;
  @Prop() readonlyAt!: boolean
  @Ref("selectOption") selectOption!: HTMLSelectElement;
  updateSelected(): void {
    for (const iterator of this.selectOption) {
      if (
        (iterator as HTMLOptionElement).value.toLowerCase() ===
        this.selectedValue.toLowerCase()
      )
        (iterator as HTMLOptionElement).selected = true;
    }
    for (const iterator of this.selectOption) {
      if (iterator as HTMLOptionElement) {
        const optionIterator = iterator as HTMLOptionElement;
        if (
          optionIterator.value === "" &&
          this.selectedValue === optionIterator.value
        ) {
          this.selectOption.style.color = "lightgray";
          break;
        } else if (this.selectedValue === optionIterator.value) {
          this.selectOption.style.color = "black";
          break;
        }
      }
    }
  }
  @Watch("selectedValue")
  updateSelectedValue(): void {
    this.updateSelected();
  }
  mounted(): void {
    this.updateSelected();
  }
  @Emit("changeInputValue")
  changeInputValue(event: MouseEvent): string {
    const eventTarget = (event.target as HTMLSelectElement).value;
    return eventTarget;
  }
}
</script>

<style scoped>
select option {
  color: black;
  border: 1px solid white;
}
select option[disabled]:first-child {
  color: red;
  border: 1px solid white;
}
select option[disabled]:first-child {
  display: none;
}
.empty {
  border: 1px solid white;
  color: lightgray;
}
:focus {
  outline: none;
  box-shadow: 0 0 white;
}
</style>
