<template>
  <div>
    <div id="myModal" class="sub-modal">
      <div class="sub-modal-content">
        <font-awesome-icon icon="times"
          class=" text-info float-right pointerClass"
          @click="closeModal"
          title="close"
        ></font-awesome-icon>
        <div class="title d-flex my-5"><p class="fs-2">Checklist</p></div>
        <div>
          <template>
            <v-simple-table fixed-header height="300px">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Agenda</th>
                    <th class="text-left">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in tempCheckList" :key="index">
                    <td class="text-left">{{ item.checklistName }}</td>
                    <td class="text-left">
                      <v-select
                        v-model="item.status"
                        :items="['Completed', 'Pending', 'Not Applicable']"
                        label="Status"
                        solo
                        dense
                        class="mt-5"
                      ></v-select>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </template>

          <div class="mt-3 h5 d-flex justify-content-end">
            <button
              class="btn btn-info mr-3"
              @click="closeModal"
              title="Cancel"
            >
              Cancel
            </button>
            <button class="btn btn-info" title="Done" @click="postCheckList()">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { HTTP } from "@/http/http-common";
import { Vue, Prop, Component, Emit } from "vue-property-decorator";
@Component
export default class ChecklistPopup extends Vue {
  @Prop() private masterChecklistData!: Array<{
    checklistId: number;
    checklistValue: string;
    lastUpdatedAt: string;
    lastUpdatedBy: null;
  }>;
  @Prop() private driveId!: string;
  checklistInfo:  Array<{
    checklistId: number | null;
    driveId: string;
    checklistName: string;
    status: string;
  }> = []
  tempCheckList: Array<{
    checklistId: number | null;
    driveId: string;
    checklistName: string;
    status: string;
  }> = [];

  @Emit("closeModal")
  closeModal(): boolean {
    return false;
  }

  mounted(): void {
    this.getCheckListDetails();
  }

  async getCheckListDetails():Promise<void>{
    try{
      await HTTP.get(`checklistinfo/getallchecklistinfo?driveId=${this.driveId}`).then(response=>{
        if(!response.data.error){
          this.checklistInfo = response.data.data
        }
      })
          this.compareCheckListAndMaster()
    } catch(error){
      console.log('Error',error)
    }
  }

  compareCheckListAndMaster(): void {
    for (let ele of this.masterChecklistData) {
      let tempCheckListData = {
        checklistId: 0,
        driveId: this.driveId,
        checklistName: ele.checklistValue,
        status: this.getCheckListStatus(ele.checklistValue),
      };
      this.tempCheckList.push(tempCheckListData)
    }
    this.checklistInfo = JSON.parse(JSON.stringify(this.tempCheckList))
  }

  getCheckListStatus(value: string): string {
    let status = "";
    if (this.checklistInfo.length > 0) {
      for (let ele of this.checklistInfo) {
        if (ele.checklistName === value) {
          status = ele.status;
        }
      }
    }
    return status;
  }

  async postCheckList():Promise<void>{
    try{
      HTTP.post(`checklistinfo/addchecklistinfo?driveId=${this.driveId}`,this.tempCheckList).then(res=>{
        if(!res.data.error){
          this.checklistInfo = JSON.parse(JSON.stringify(res.data.data))
          this.tempCheckList = []
        }
      })
      this.closeModal()
    } catch(error){
      console.log('Error',error)
    }
  }
}
</script>
<style scoped>
.sub-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.sub-modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 550px;
  border-radius: 24px;
  max-height: 500px;
}
.modal-content {
  border-radius: 31px;
}
.modal {
  background: rgb(0, 37, 77, 0.6);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.pointerClass {
  cursor: pointer;
}
</style>
<style>
.v-data-table--fixed-header > .v-data-table__wrapper::-webkit-scrollbar {
  display: none;
}
</style>