<template>
  <div @click="SwitchDonut(donutDetails)" :title="donutDetails.driveName">
    <span
      :class="
        donutDetails.type === 'main'
          ? 'h3 fw-bold d-block'
          : 'donutLabel fw-bold d-block'
      "
      >{{ donutDetails.driveName }}</span
    >
    <span
      :class="
        donutDetails.type === 'main' ? 'h6 d-block' : 'donutLabel d-block'
      "
      >{{ donutDetails.drive_scheduled_at }}</span
    >
    <vc-donut
      :sections="donutDetails.sections"
      foreground="grey"
      :size="donutDetails.size"
      :unit="donutDetails.unit"
      :thickness="20"
      legend-placement="bottom"
      :start-angle="0"
      :auto-adjust-text-size="true"
      class="pointerClass"
    >
      <span>{{ getLabelString() }}</span>
    </vc-donut>
    <div v-if="donutDetails.hasLegend" class="text-left ml-5 mt-4">
      <div>
        <div class="circle d-inline-block mr-1 selected"></div>
        <div class="d-inline-block textlabel">Selected</div>
      </div>
      <div>
        <div class="circle d-inline-block mr-1 addressing"></div>
        <div class="d-inline-block textlabel">Attended Addressing Session</div>
      </div>
      <div>
        <div class="circle d-inline-block mr-1 onBording"></div>
        <div class="d-inline-block textlabel">Onboarding</div>
      </div>
      <div>
        <div class="circle d-inline-block mr-1 rejected"></div>
        <div class="d-inline-block textlabel">Rejected</div>
      </div>
      <div>
        <div class="circle d-inline-block mr-1 notAttended"></div>
        <div class="d-inline-block textlabel">Not Attended</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Emit, Prop, Component } from "vue-property-decorator";
import Donut from "vue-css-donut-chart";
import "vue-css-donut-chart/dist/vcdonut.css";

Vue.use(Donut);

@Component
export default class DonutChart extends Vue {
  @Prop() donutDetails!: {
    driveId: string;
    driveName: string;
    drive_scheduled_at: string;
    hasLegend: boolean;
    type: string;
    size;
    sections;
    registeredCandidates: number;
    selectedCandidates: number;
    candidatesAttendedAddressing: number;
    candidatesTurnedUpForTraing: number;
    candidatesRejected: number;
    candidatesNotAttended: number;
  };
  labelString = "";
  @Emit("Update-Donut")
  SwitchDonut(obj: unknown): unknown {
    return obj;
  }
  getLabelString(): string {
    const percentage =
      (this.donutDetails.selectedCandidates * 100) /
      this.donutDetails.registeredCandidates;
    this.labelString = `${this.donutDetails.selectedCandidates}(${
      isNaN(percentage) ? "0" : Math.ceil(percentage)
    }%)/${this.donutDetails.registeredCandidates}`;
    return this.labelString;
  }
}
</script>

<style>
.cdc-legend {
  font-size: 12px;
  display: flex !important;
  flex-direction: column;
  padding-left: 10px;
  padding-right: auto;
}
.cdc-legend-item {
  margin: none;
  margin-left: 10px;
}
.cdc-container {
  align-items: start !important;
}
.cdc {
  align-self: center;
  margin: 5 px;
}
.donutLabel {
  font-size: 14px;
}
.cdc-legend-item-color {
  height: 1em !important;
  width: 1em !important;
  border-radius: 20px !important;
  margin-right: 0.5em !important;
}
.pointerClass {
  cursor: pointer;
}
.circle {
  height: 13px;
  width: 13px;
  border-radius: 10px;
  margin-top: 2px;
}
.textlabel {
  font-size: 13px;
  cursor: default;
}
.rejected {
  background-color: rgb(228, 73, 73);
}
.selected {
  background-color: rgb(28, 177, 28);
}
.onBording {
  background-color: rgb(255, 185, 58);
}
.addressing {
  background-color: rgb(38, 38, 175);
}
.notAttended {
  background-color: gray;
}
</style>