<template>
  <div>
    <div
      class="card cardstyle pointerClass"
      @click="
        routeToList(
          driveDetails.driveId,
          driveDetails.driveName,
          driveDetails.driveDateTime
        )
      "
    >
      <div class="card-body text-light">
        <div class="h3 fw-bolder d-flex">
          {{ driveDetails.driveName }}
          <div class="ml-auto">
            <font-awesome-icon icon="plus" class=" iconStyle d-flex pointerClass" title="Add Rounds"
              @click="
                routeToRound(
                  $event,
                  driveDetails.driveId,
                )
              "/>
            <font-awesome-icon icon="user-plus" class="iconStyle pointerClass" @click="
                routeToFileUpload(
                  $event,
                  driveDetails.driveId,
                  driveDetails.driveName,
                  driveDetails.driveDateTime
                )
              "
              title="Add Candidates"></font-awesome-icon>
          </div>
        </div>
        <span class="h-50 float-left mt-4">
          <font-awesome-icon icon="clipboard-list"
            class=" pointerClass"
            title="checklist"
            @click="openChecklistModal($event)"
          ></font-awesome-icon>
        </span>
        <div class="float-right mt-2">
          <span class="text-end h5 d-block mb-0">{{
            driveDetails.driveDateTime.split(" ")[0]
          }}</span>
          <span style="">{{ day }}</span>
        </div>
      </div>
    </div>
    <ChecklistPopup
      v-if="showModal"
      @closeModal="closeModal()"
      :masterChecklistData="masterChecklistData"
      :driveId="driveDetails.driveId"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Prop, Component, Watch } from "vue-property-decorator";
import ChecklistPopup from "@/components/CustomPopup.vue";

@Component({
  components: {
    ChecklistPopup,
  },
})
export default class DriveCard extends Vue {
  @Prop() private driveDetails!: {
    driveId: number;
    driveName: string;
    driveDateTime: string;
  };
  @Prop() private masterChecklistData!: Array<{
    checklistId: number;
    checklistName: string;
  }>;
  day = "";
  showModal = false;
  headers = [
    {
      text: "Agenda",
      align: "start",
      value: "checklistName",
    },
    { text: "Status", value: "status" },
  ];

  routeToList(itemId: string, driveName: string, driveDateTime: string): void {
    this.$router.push({
      name: "list",
      params: {
        analytics_driveId: itemId,
        analytics_driveName: driveName,
        analytics_driveDateTime: driveDateTime,
      },
    });
  }
  routeToFileUpload(
    event: Event,
    itemId: string,
    driveName: string,
    driveDateTime: string
  ): void {
    event.stopPropagation();
    this.$router.push({
      name: "File Upload",
      params: {
        analytics_driveId: itemId,
        analytics_driveName: driveName,
        analytics_driveDateTime: driveDateTime,
      },
    });
  }
  routeToRound(
    event: Event,
    itemId: string,
  ): void {
    this.$router.push({
      name: "Round",
      params: {
        analytics_driveId: itemId,
      },
    });
    event.stopPropagation();
  }
  openChecklistModal(event: Event): void {
    this.showModal = true;
    event.stopPropagation();
  }
  closeModal(): void {
    this.showModal = false;
  }
  @Watch("driveDetails")
  trackDriveDetails(): void {
    this.calculateDay();
  }
  mounted(): void {
    this.calculateDay();
  }
  calculateDay(): void {
    let date = new Date(this.driveDetails.driveDateTime.split(" ")[0]);
    const weekDays = ["Sun", "Mon", "Tue", "Wed", "Thr", "Fri", "Sat"];
    this.day = weekDays[date.getDay()];
  }
}
</script>
<style scoped>
.cardstyle {
  width: 220px;
  height: 134px;
  background: rgb(185, 127, 194);
  background: linear-gradient(
    90deg,
    rgba(185, 127, 194, 1) 0%,
    rgba(90, 123, 143, 1) 100%
  );
  border-radius: 10px;
}
a:hover {
  text-decoration: none;
}
.iconStyle {
  color: white;
  font-size: 15px;
}

.pointerClass {
  cursor: pointer;
}
</style>