<template>
  <div
    :style="popUpStyleObj"
    class="modal"
    id="exampleModal"
    style="background: rgb(0, 37, 77, 0.6)"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="closeModal"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Does it consists of previous candidates data?</p>
          <div ref="radioGroup">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="yes"
                @change="emitUpdateData('yes')"
              />
              <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio2"
                value="no"
                @change="emitUpdateData('no')"
              />
              <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio3"
                value="partial"
                @change="emitUpdateData('partial')"
              />
              <label class="form-check-label" for="inlineRadio3">Partial</label>
            </div>
          </div>
          <br />
          <div v-if="dataErrMsg" class="errMsgDiv ml-auto mr-auto">
            <span class="errMsgClass mt-6">{{dataErrMsg}}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-success btn-background"
            @click="saveData"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-danger btn-background"
            data-dismiss="modal"
            @click="closeModal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Ref, Vue } from "vue-property-decorator";

@Component
export default class FileUploadPopUp extends Vue {
  @Prop() showPopUp!: boolean;
  @Prop() dataErrMsg!: string
  @Prop() previousDataInfo!: string;
  @Ref("radioGroup") radioGroup!: HTMLDivElement;
  get popUpStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      display: this.showPopUp ? "block" : "none",
    };
  }
  @Emit("closeModal")
  closeModal(): number {
    return 0;
  }
  @Emit("emitUpdateData")
  emitUpdateData(val: string): string {
    return val;
  }
  get errMsgStyle(): Partial<CSSStyleDeclaration> {
    return {
      display:
        this.previousDataInfo === "" || this.previousDataInfo === "partial"
          ? "block"
          : "none",
    };
  }
  mounted(): void {
    for (const divElement of this.radioGroup.children) {
      if (
        (divElement.children[0] as HTMLInputElement).value ===
        this.previousDataInfo
      ) {
        (divElement.children[0] as HTMLInputElement).checked = true;
      }
    }
  }
  @Emit("saveData")
  saveData(): number {
    return 0;
  }
}
</script>
<style scoped>
.modal-dialog {
  width: 100%;
  height: 100%;
  top: 25%;
}
.btn-background {
  color: white;
}
.errMsgClass {
  color: red;
  font-size: 12px;
  text-align: center;
}
.errMsgDiv {
  width: 50%
}
</style>