<template>
  <div class="maincontainer">
    <div class="card card-body mt-1 mx-3 backpage">
      <div class="mb-3 mt-12 mr-auto ml-auto col-md-4 col-sm-8 ">
        <select
          class="form-select borderClass"
          @change="setComponentName"
          aria-label="Default select example"
          ref="selectOption"
        >
          <option value="" class="placeHolderStyle" selected disabled>
            Select Method To Fill Data
          </option>
          <option value="upload">Upload File</option>
          <option value="form">Form</option>
        </select>
      </div>
      <div>
        <Upload v-if="componentName === 'upload'" :driveId="driveId" />
        <Form v-else :driveId="driveId" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Ref, Vue } from "vue-property-decorator";
import Upload from "@/components/Upload.vue";
import Form from "@/components/Form.vue";
@Component({
  components: {
    Upload,
    Form,
  },
})
export default class Analytics extends Vue {
  @Ref("selectOption") selectOption!: HTMLSelectElement;

  @Prop({ default: "" }) private analytics_driveId!: string;

  driveId = this.analytics_driveId
  componentName = "upload";
  setComponentName(event: MouseEvent): void {
    this.componentName = (event.target as HTMLSelectElement).value;
  }
  
  mounted(): void {
    for (const iterator of this.selectOption) {
      if (
        (iterator as HTMLOptionElement).value.toLowerCase() ===
        this.componentName.toLowerCase()
      )
        (iterator as HTMLOptionElement).selected = true;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.maincontainer {
  padding-top: 10px;
  width: 100% !important;
}
select option {
  color: black;
}
select option[disabled]:first-child {
  color: #80808082;
}
/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}
.placeHolderStyle {
  color: gray;
}
.borderClass {
  border: 1px solid black;
}
</style>
