<template>
  <div>
    <div class="container" :style="{ width: 'max-content' }">
      <div class="grid">
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Drive Name</label>
            <input
              type="text"
              class="form-control eidClass"
              placeholder="Drive Name"
              @change="updateDriveName"
              :value="mainObj.driveName"
            />
            <!-- :readonly="isEditable" -->
            <span v-if="driveErrObj.driveNameErr !== ''" class="invalidClass">{{
              driveErrObj.driveNameErr
            }}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Drive Date and Time</label>
            <input
              type="datetime-local"
              class="form-control eidClass"
              placeholder="Drive Date and Time"
              :value="mainObj.driveScheduledAt.replace(' ', 'T')"
              @change="updateDateTime"
              :min="minDateValidation"
            />
            <!-- v-model="localFormDataObj.lastname" -->
            <span
              v-if="driveErrObj.driveDateTimeErr !== ''"
              class="invalidClass"
              >{{ driveErrObj.driveDateTimeErr }}</span
            >
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Drive Owner</label>
            <input
              type="text"
              class="form-control eidClass"
              placeholder="Drive Owner"
              @change="updateDriveOwner"
              :value="mainObj.driveOwnerName"
            />
            <!-- :readonly="isEditable" -->
            <span
              v-if="driveErrObj.driveOwnerErr !== ''"
              class="invalidClass"
              >{{ driveErrObj.driveOwnerErr }}</span
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Name</label>
            <input
              type="text"
              class="form-control eidClass"
              placeholder="Name"
              @change="nameValidate($event)"
              v-model="localFormDataObj.name"
            />
            <!-- :readonly="isEditable" -->
            <span v-if="!nameValidateValue" class="invalidClass"
              >Name must contain minimum of 3 character and accepts only
              Alphabets</span
            >
            <span v-else-if="!nameValidateValueOnSubmit" class="invalidClass"
              >Name is required*</span
            >
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Branch</label>
            <select
              class="form-select empty"
              aria-label="Default select example"
              :style="{
                border: '1px solid black',
                borderRadius: '8px',
                width: '290px',
                height: '40px',
                color:
                  localFormDataObj.qualification !== ''
                    ? '#496388'
                    : 'rgb(187, 186, 186)',
              }"
              @change="validateBranch"
            >
              <option
                v-if="localFormDataObj.jspidersBranch !== ''"
                :value="localFormDataObj.jspidersBranch"
                :selected="
                  localFormDataObj.jspidersBranch !== '' ? true : false
                "
                disabled
              >
                {{ localFormDataObj.jspidersBranch }}
              </option>
              <option
                v-else-if="localFormDataObj.jspidersBranch === ''"
                value=""
                selected
                disabled
              >
                Branch
              </option>
              <option
                :key="arrayData.name"
                v-for="arrayData of jspidersBranch"
                :value="arrayData.value"
              >
                {{ arrayData.name }}
              </option>
            </select>
            <span v-if="!branchValueOnSubmit" class="invalidClass"
              >Branch is required*</span
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Contact Number</label>
            <input
              type="text"
              class="form-control eidClass"
              placeholder="Contact Number"
              v-model="localFormDataObj.contactNumber"
              @change="updateContactNumber"
            />
            <!-- v-model="localFormDataObj.lastname" -->
            <span v-if="!contactValidateValue" class="invalidClass"
              >Contact number must contain 10 digits*</span
            >
            <span v-else-if="!contactValidateValueOnSubmit" class="invalidClass"
              >Contact number field is required*</span
            >
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Mail ID</label>
            <input
              type="text"
              class="form-control eidClass"
              placeholder="Mail ID"
              v-model="localFormDataObj.emailId"
              @change="updateOfficeMail"
            />
            <!-- v-model="localFormDataObj.officemailid"
                @change="updateOfficeMail"
                :readonly="isEditable" -->
            <span v-if="!officialEmailValue" class="invalidClass"
              >Email address must contain @ and must not end with special
              character*</span
            >
            <span v-else-if="!officialEmailValueOnSubmit" class="invalidClass"
              >Official email is required*</span
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Degree</label>
            <input
              type="text"
              class="form-control eidClass"
              placeholder="Degree (ex. BE, BSC, B.Com)"
              v-model="localFormDataObj.degree"
              @change="degreeValidate"
            />
            <span v-if="!degreeValue" class="invalidClass"
              >Degree accepts only Alphabets</span
            >
            <span v-if="!degreeValueOnSubmit" class="invalidClass"
              >Degree field is required*</span
            >
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Stream</label>
            <input
              type="text"
              class="form-control eidClass"
              placeholder="Stream(ex. CS,IS,Mech)"
              v-model="localFormDataObj.stream"
              @change="streamValidate"
            />
            <span v-if="!streamValue" class="invalidClass"
              >Stream accepts only Alphabets</span
            >
            <span v-if="!streamValueOnSubmit" class="invalidClass"
              >Stream field is required*</span
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Passout Year</label>
            <input
              type="number"
              class="form-control eidClass"
              placeholder="Passout Year"
              :value="getValue(localFormDataObj.yop, 'yop')"
              @change="validateyop"
            />
            <span v-if="!passoutyearValue" class="invalidClass"
              >Passout Year accepts only Number</span
            >
            <span v-if="!passoutyearValueOnSubmit" class="invalidClass"
              >Passout Year field is required*</span
            >
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">10th Percent</label>
            <input
              type="number"
              class="form-control eidClass"
              placeholder="10th Percent"
              :value="getValue(localFormDataObj.tenth, 'tenth')"
              @change="validate10thpercentage"
            />
            <span v-if="!tenthPercentValue" class="invalidClass"
              >Invalid Percentage*</span
            >
            <span v-else-if="!tenthPercentValueOnSubmit" class="invalidClass"
              >10th Percentage field is required*</span
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">12th Percent</label>
            <input
              type="number"
              class="form-control eidClass"
              placeholder="12th Percent"
              :value="getValue(localFormDataObj.twelfth, 'twelfth')"
              @change="validate12thpercentage"
            />
            <span v-if="!twelthPercentValue" class="invalidClass"
              >Invalid Percentage*</span
            >
            <span v-else-if="!twelthPercentValueOnSubmit" class="invalidClass"
              >12th Percentage field is required*</span
            >
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Degree Percent</label>
            <input
              type="number"
              class="form-control eidClass"
              placeholder="Degree Percent"
              :value="getValue(localFormDataObj.degreeMarks, 'degreeMarks')"
              @change="validatedegreepercentage"
            />
            <span v-if="!degreePercentValue" class="invalidClass"
              >Invalid Percentage*</span
            >
            <span v-else-if="!degreePercentValueOnSubmit" class="invalidClass"
              >Degree Percentage field is required*</span
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <label class="labelStyle">Masters Aggregate</label>
            <input
              type="number"
              class="form-control eidClass"
              placeholder="Masters Aggregate"
              :value="getValue(localFormDataObj.masterDegreeAggregate, 'masterDegreeAggregate')"
              @change="validatemasterspercentage"
            />
            <span v-if="!mastersPercentValue" class="invalidClass"
              >Invalid Percentage*</span
            >
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="form-group row">
          <div class="col-sm-10"></div>
        </div>
        <div>
          <button class="submitButtonStyle" @click="submitForm">Submit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { HTTP } from "@/http/http-common";
import { validators } from "@/validators/validators";
import { Action } from "vuex-class";
import { Component, Prop, Vue } from "vue-property-decorator";
import { branch } from "../models/branch";

@Component
export default class Form extends Vue {
  @Prop() driveId!: string;
  @Action("updatePopUp") updatePopUp;
  mainObj: any = {
    driveName: "",
    driveOwnerName: "",
    driveScheduledAt: "",
    candidateData: [],
  };
  driveErrObj = {
    driveNameErr: "",
    driveOwnerErr: "",
    driveDateTimeErr: "",
  };
  localFormDataObj = {
    name: "",
    contactNumber: "",
    emailId: "",
    degree: "",
    stream: "",
    yop: 0,
    tenth: 0,
    twelfth: 0,
    degreeMarks: 0,
    status: "",
    jspidersBranch: "",
    masterDegreeAggregate: 0,
    lastUpdatedAt: null,
    lastUpdatedBy: null,
  };
  jspidersBranch = branch;
  branchData = ["Basavangudi", "BTM", "RajajiNagar"];
  nameValidateValue = true;
  nameValidateValueOnSubmit = true;
  contactValidateValue = true;
  contactValidateValueOnSubmit = true;
  officialEmailValue = true;
  officialEmailValueOnSubmit = true;
  degreeValue = true;
  degreeValueOnSubmit = true;
  streamValue = true;
  streamValueOnSubmit = true;
  passoutyearValue = true;
  passoutyearValueOnSubmit = true;
  tenthPercentValue = true;
  tenthPercentValueOnSubmit = true;
  twelthPercentValue = true;
  twelthPercentValueOnSubmit = true;
  degreePercentValue = true;
  degreePercentValueOnSubmit = true;
  mastersPercentValue = true;
  branchValueOnSubmit = true;

  async addDriveData(): Promise<void> {
    try {
      const driveDate = this.mainObj.driveScheduledAt.replace("T", " ");
      this.mainObj.driveScheduledAt = driveDate.split(".")[0];
      this.mainObj.candidateData.push(
        JSON.parse(JSON.stringify(this.localFormDataObj))
      );
      const res = await HTTP.post(`adddriveinfo`, this.mainObj);
      const resp = res.data;
      if (!resp.error) {
        this.updatePopUp({
          isPopUpVisible: true,
          popUpType: 'success',
          popUpMessage: 'Saved Successfully'
        })
      }
    } catch (err) {
      console.log("error", err);
    }
  }

  get minDateValidation(): string {
    const iso = new Date().toISOString();
    const minDate = iso.substring(0, iso.length - 1);
    return minDate;
  }

  getValue(val: string | number, key: string): string | number {
    if (val === 0) {
      this.localFormDataObj[key] = ""
      return "";
    } else {
      return val;
    }
  }

  async updateDriveData(): Promise<void> {
    try {
      let driveDate = "";
      if (this.mainObj.driveScheduledAt.indexOf("T") !== -1) {
        driveDate = this.mainObj.driveScheduledAt.replace("T", " ");
        this.mainObj.driveScheduledAt = driveDate
        if (driveDate.indexOf(".") !== -1) {
          this.mainObj.driveScheduledAt = driveDate.split(".")[0];
        } else {
          const dateFormat = driveDate.split(":");
          if (dateFormat.length === 2) {
            dateFormat.push("00")
            this.mainObj.driveScheduledAt = dateFormat.join(":");
          }
        }
      }
      const res = await HTTP.post(
        `updatecandidateinfo?key=yes&driveId=${this.driveId}`,
        this.mainObj
      );
      const resp = res.data;
      if (!resp.error) {
        this.updatePopUp({
          isPopUpVisible: true,
          popUpType: 'success',
          popUpMessage: 'Updated Successfully'
        })
      }
    } catch (err) {
      console.log("error", err);
    }
  }

  submitForm(e: Event): void {
    e.preventDefault();
    this.validateName();
    this.validateDateTime();
    this.validateDriveOwner();
    this.nameValidateValueOnSubmit = this.nameValidateOnSubmit(
      this.localFormDataObj.name
    );
    this.contactValidateValueOnSubmit = this.updateContactNumberOnSubmit(
      this.localFormDataObj.contactNumber
    );
    this.officialEmailValueOnSubmit = this.updateOfficeMailOnSubmit(
      this.localFormDataObj.emailId
    );
    this.degreeValueOnSubmit = this.degreeValidateOnSubmit(
      this.localFormDataObj.degree
    );
    this.streamValueOnSubmit = this.streamValidateOnSubmit(
      this.localFormDataObj.stream
    );
    this.passoutyearValueOnSubmit = this.validateyopOnSubmit(
      this.localFormDataObj.yop.toString()
    );
    this.tenthPercentValueOnSubmit = this.validate10thpercentageOnSubmit(
      this.localFormDataObj.tenth.toString()
    );
    this.twelthPercentValueOnSubmit = this.validate12thpercentageOnSubmit(
      this.localFormDataObj.twelfth.toString()
    );
    this.degreePercentValueOnSubmit = this.validatedegreepercentageOnSubmit(
      this.localFormDataObj.degreeMarks.toString()
    );
    this.branchValueOnSubmit = this.validateBranchonSubmit(
      this.localFormDataObj.jspidersBranch
    );
    let isErrorPresent = false;
    for (const errrobj in this.driveErrObj) {
      if (this.driveErrObj[errrobj] !== "") {
        isErrorPresent = true;
        break;
      }
    }
    if (
      this.nameValidateValue &&
      this.nameValidateValueOnSubmit &&
      this.contactValidateValue &&
      this.contactValidateValueOnSubmit &&
      this.officialEmailValue &&
      this.officialEmailValueOnSubmit &&
      this.degreeValue &&
      this.degreeValueOnSubmit &&
      this.streamValue &&
      this.streamValueOnSubmit &&
      this.passoutyearValue &&
      this.passoutyearValueOnSubmit &&
      this.tenthPercentValue &&
      this.tenthPercentValueOnSubmit &&
      this.twelthPercentValue &&
      this.twelthPercentValueOnSubmit &&
      this.degreePercentValue &&
      this.degreePercentValueOnSubmit &&
      this.mastersPercentValue &&
      this.branchValueOnSubmit &&
      isErrorPresent === false
    ) {
      if (this.driveId !== "") {
        this.updateDriveData();
      } else {
        this.addDriveData();
      }
    }
  }

  updateDriveName(e: Event): void {
    const eTargetValue = (e.target as HTMLInputElement).value;
    this.mainObj.driveName = eTargetValue;
    this.validateName();
  }

  updateDateTime(event: KeyboardEvent): void {
    this.mainObj.driveScheduledAt = (event.target as HTMLInputElement).value;
    this.validateDateTime();
  }

  updateDriveOwner(event: KeyboardEvent): void {
    this.mainObj.driveOwnerName = (event.target as HTMLInputElement).value;
    this.validateDriveOwner();
  }

  validateName(): void {
    if (this.mainObj.driveName === "") {
      this.driveErrObj.driveNameErr = "Drive Name is required*";
    } else {
      this.driveErrObj.driveNameErr = "";
    }
  }

  validateDateTime(): void {
    if (this.mainObj.driveScheduledAt === "") {
      this.driveErrObj.driveDateTimeErr = "Drive Date is required*";
    } else {
      this.driveErrObj.driveDateTimeErr = "";
    }
  }
  validateDriveOwner(): void {
    if (this.mainObj.driveOwnerName === "") {
      this.driveErrObj.driveOwnerErr = "Drive Owner is required*";
    } else {
      this.driveErrObj.driveOwnerErr = "";
    }
  }

  nameValidate(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.nameValidateValueOnSubmit = true;
    this.localFormDataObj.name = eTarget.value;
    if (eTarget.value !== "") {
      if (validators.nameValidator(eTarget.value)) {
        this.nameValidateValue = true;
      } else {
        this.nameValidateValue = false;
      }
    } else {
      this.nameValidateValue = true;
    }
  }

  nameValidateOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.nameValidator(value)) {
        this.nameValidateValue = true;
      } else {
        this.nameValidateValue = false;
      }
      return true;
    } else {
      this.nameValidateValue = true;
      return false;
    }
  }

  updateContactNumber(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.contactValidateValueOnSubmit = true;
    this.localFormDataObj.contactNumber = eTarget.value;
    if (eTarget.value !== "") {
      this.contactValidateValue = this.contactValidate(eTarget.value);
    } else {
      this.contactValidateValue = true;
    }
  }

  updateContactNumberOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.numberValidator(value)) {
        this.contactValidateValue = true;
      } else {
        this.contactValidateValue = false;
      }
      return true;
    } else {
      this.contactValidateValue = true;
      return false;
    }
  }

  contactValidate(value: string): boolean {
    if (validators.numberValidator(value)) {
      return true;
    } else {
      return false;
    }
  }

  updateOfficeMail(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.officialEmailValueOnSubmit = true;
    this.localFormDataObj.emailId = eTarget.value;
    if (eTarget.value !== "") {
      this.officialEmailValue = this.emailValidate(eTarget.value);
    } else {
      this.officialEmailValue = true;
    }
  }

  updateOfficeMailOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.emailValidator(value)) {
        this.officialEmailValue = true;
      } else {
        this.officialEmailValue = false;
      }
      return true;
    } else {
      this.officialEmailValue = true;
      return false;
    }
  }

  emailValidate(value: string): boolean {
    if (validators.emailValidator(value)) {
      return true;
    } else {
      return false;
    }
  }

  degreeValidate(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.degreeValueOnSubmit = true;
    this.localFormDataObj.degree = eTarget.value;
    if (eTarget.value !== "") {
      if (validators.textValidator(eTarget.value)) {
        this.degreeValue = true;
      } else {
        this.degreeValue = false;
      }
    } else {
      this.degreeValue = true;
    }
  }

  degreeValidateOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.textValidator(value)) {
        this.degreeValue = true;
      } else {
        this.degreeValue = false;
      }
      return true;
    } else {
      this.degreeValue = true;
      return false;
    }
  }

  streamValidate(e: Event): void {
    const eTarget = e.target as HTMLInputElement;
    this.streamValueOnSubmit = true;
    this.localFormDataObj.stream = eTarget.value;
    if (eTarget.value !== "") {
      if (validators.textValidator(eTarget.value)) {
        this.streamValue = true;
      } else {
        this.streamValue = false;
      }
    } else {
      this.streamValue = true;
    }
  }

  streamValidateOnSubmit(value: string): boolean {
    if (value !== "") {
      if (validators.textValidator(value)) {
        this.streamValue = true;
      } else {
        this.streamValue = false;
      }
      return true;
    } else {
      this.streamValue = true;
      return false;
    }
  }

  validateyop(event: Event): void {
    const value = (event.target as HTMLInputElement).value;
    this.passoutyearValueOnSubmit = true;
    this.localFormDataObj.yop = parseFloat(value);
    if (validators.lastHundredYears(value)) {
      this.passoutyearValue = true;
    } else {
      this.passoutyearValue = false;
    }
    if (value === "") {
      this.passoutyearValue = true;
    }
  }

  validateyopOnSubmit(value: string): boolean {
    this.localFormDataObj.yop = parseFloat(value);
    if (value !== "") {
      if (validators.lastHundredYears(value)) {
        this.passoutyearValue = true;
      } else {
        this.passoutyearValue = false;
      }
      return true;
    } else {
      this.passoutyearValue = true;
      return false;
    }
  }

  validate10thpercentage(event: Event): void {
    const value = (event.target as HTMLInputElement).value;
    this.tenthPercentValueOnSubmit = true;
    if (value !== "") {
      this.localFormDataObj.tenth = parseFloat(value);
      if (validators.percentageValidator(value)) {
        this.tenthPercentValue = true;
      } else {
        this.tenthPercentValue = false;
      }
    } else {
      this.tenthPercentValue = true;
    }
  }

  validate10thpercentageOnSubmit(value: string): boolean {
    this.localFormDataObj.tenth = parseFloat(value);
    if (value !== "") {
      if (validators.percentageValidator(value)) {
        this.tenthPercentValue = true;
      } else {
        this.tenthPercentValue = false;
      }
      return true;
    } else {
      this.tenthPercentValue = true;
      return false;
    }
  }

  validate12thpercentage(event: Event): void {
    const value = (event.target as HTMLInputElement).value;
    this.twelthPercentValueOnSubmit = true;
    if (value !== "") {
      this.localFormDataObj.twelfth = parseFloat(value);
      if (validators.percentageValidator(value)) {
        this.twelthPercentValue = true;
      } else {
        this.twelthPercentValue = false;
      }
    } else {
      this.twelthPercentValue = true;
    }
  }

  validate12thpercentageOnSubmit(value: string): boolean {
    this.localFormDataObj.twelfth = parseFloat(value);
    if (value !== "") {
      if (validators.percentageValidator(value)) {
        this.twelthPercentValue = true;
      } else {
        this.twelthPercentValue = false;
      }
      return true;
    } else {
      this.twelthPercentValue = true;
      return false;
    }
  }

  validatedegreepercentage(event: Event): void {
    const value = (event.target as HTMLInputElement).value;
    this.degreePercentValueOnSubmit = true;
    if (value !== "") {
      this.localFormDataObj.degreeMarks = parseFloat(value);
      if (validators.percentageValidator(value)) {
        this.degreePercentValue = true;
      } else {
        this.degreePercentValue = false;
      }
    } else {
      this.degreePercentValue = true;
    }
  }

  validatedegreepercentageOnSubmit(value: string): boolean {
    this.localFormDataObj.degreeMarks = parseFloat(value);
    if (value !== "") {
      if (validators.percentageValidator(value)) {
        this.degreePercentValue = true;
      } else {
        this.degreePercentValue = false;
      }
      return true;
    } else {
      this.degreePercentValue = true;
      return false;
    }
  }

  validatemasterspercentage(event: Event): void {
    const value = (event.target as HTMLInputElement).value;
    if (value !== "") {
      this.localFormDataObj.masterDegreeAggregate = parseFloat(value);
      if (validators.percentageValidator(value)) {
        this.mastersPercentValue = true;
      } else {
        this.mastersPercentValue = false;
      }
    } else {
      this.mastersPercentValue = true;
    }
  }

  validateBranch(event: Event): void {
    const value = (event.target as HTMLSelectElement).value;
    if (value !== "") {
      this.branchValueOnSubmit = true;
      this.localFormDataObj.jspidersBranch = value;
    } else {
      this.branchValueOnSubmit = false;
      this.localFormDataObj.jspidersBranch = value;
    }
  }

  validateBranchonSubmit(value: string): boolean {
    if (value !== "") {
      this.branchValueOnSubmit = true;
      return true;
    } else {
      this.branchValueOnSubmit = false;
      return false;
    }
  }
  async getDriveInfo(): Promise<void> {
    try {
      const res = await HTTP(`getdriveinfo?driveId=${this.driveId}`);
      const data = await res.data;
      const driveData = { ...data.data };
      this.mainObj.driveId = driveData.driveId;
      this.mainObj.driveName = driveData.driveName;
      this.mainObj.driveOwnerName = driveData.driveOwnerName;
      this.mainObj.driveScheduledAt = driveData.driveScheduledAt;
    } catch (err) {
      console.log("error", err);
    }
  }

  mounted(): void {
    if (this.driveId) {
      this.mainObj.driveId = this.driveId;
    }
    if (this.driveId !== "") {
      this.getDriveInfo();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.row {
  margin: 0px !important;
}
select option {
  color: black;
}
select option[disabled]:first-child {
  color: #80808082;
}
/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.grid {
  width: 650px;
  height: 92px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gridAddress {
  resize: none;
  width: 250px;
  height: 156px;
  border: 1px solid gray;
  border-radius: 8px;
}
.eidClass {
  height: 40px;
  width: 290px;
  border: 1px solid black;
  border-radius: 8px;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.inputClass {
  visibility: hidden;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: black;
  color: white;
  width: 150px;
  margin-left: -50px;
  border-radius: 7px;
}
.submitButtonStyle {
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #0d144f;
  color: white;
  width: 150px;
  margin-left: -50px;
  border-radius: 7px;
  float: right;
  position: relative;
  top: 16px;
  right: 33px;
}
::placeholder {
  opacity: 0.4;
}
.invalidClass {
  margin-top: 2px;
  font-size: 10px;
  color: red;
  float: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.labelStyle {
  float: left;
  margin-bottom: 0px;
  font-size: 12px;
}
</style>
