<template>
  <div
    :style="popUpStyleObj"
    class="modal"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-position .modal-dialog-centered">
      <div class="container mt-5 col-8">
        <div class="card-deck mb-3 ml-auto mr-auto col-6">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal headerLabel">
                Interview Feedback
              </h4>
                <font-awesome-icon
                  icon="times"
                   @click="closeModal"
                  class="closeButtonClass cursorClass"
                  aria-hidden="true"
                />
            </div>

            <div
              class="card-body d-flex flex-column col-12"
              v-if="roundData.length > 0"
            >
              <div class="circleDiv ml-auto mr-auto">
                <ul>
                  <li
                    v-for="index in roundData.length"
                    :key="index"
                    class="cursorClass"
                    :style="getCircleStyle(index)"
                    @click="updateActiveRound(index)"
                  >
                    <span
                      v-if="getTextStyle(index)"
                      :style="finalRoundStyle(index)"
                      >{{ roundData.length === index ? "FR" : index }}</span
                    >
                    <span v-else>
                      <font-awesome-icon icon="check" />
                    </span>
                    <label
                      class="activeRoundStyle"
                      :style="displayCircle(index)"
                    ></label>
                  </li>
                </ul>
              </div>
              <div class="innercontainer">
                <div
                  class="mt-3"
                  v-for="intrwVal in interviewFeedbackDetail"
                  :key="intrwVal.heading"
                >
                  <label class="labelClass">{{ intrwVal.heading }}</label>
                  <CustomSelect
                    @changeInputValue="
                      (value) => changeSelectValue(value, intrwVal)
                    "
                    :placeHolder="intrwVal.heading"
                    :dropDownValue="intrwVal.dropDownValue"
                    :selectedValue="intrwVal.value"
                    :readonlyAt="readonlyAt"
                  />
                  <span class="errorClass">{{ errObj[intrwVal.keyVal] }}</span>
                </div>
                <div class="mt-3">
                  <label class="labelClass">FeedBack</label>
                  <textarea
                    class="textAreaClass"
                    rows="4"
                    placeholder="Feedback"
                    :value="selectedRoundObj.feedback"
                    @input="updateFeedBack"
                    :disabled="readonlyAt"
                  ></textarea>
                  <span class="errorClass">{{ errObj.feedback }}</span>
                </div>
              </div>
              <div class="mt-12 mr-2 btnClass">
                <div v-if="selectedRoundObj.status === 'registered'">
                  <button
                    type="button"
                    class="btn btn-sm"
                    @click="updateStatus('rejected')"
                    :disabled="readonlyAt"
                  >
                    Rejected
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm ml-2"
                    :style="btnStyle('selected')"
                    @click="updateStatus('selected')"
                    :disabled="readonlyAt"
                  >
                    Selected
                  </button>
                </div>
                <div v-else>
                  <!-- <span>Status:  </span> -->
                  <button
                    v-if="selectedRoundObj.status === 'rejected'"
                    type="button"
                    class="btn btn-sm btn-rej"
                    :style="btnStyle('rejected')"
                    @click="updateStatus('rejected')"
                    :disabled="readonlyAt"
                  >
                    Rejected
                  </button>
                  <button
                    v-else
                    type="button"
                    class="btn btn-sm ml-2 btn-success"
                    :style="btnStyle('selected')"
                    @click="updateStatus('selected')"
                    :disabled="readonlyAt"
                  >
                    Selected
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body d-flex flex-column col-12" v-else>
              <div class="textMsg mt-3 mb-3">
                <div>Interview rounds are not yet scheduled.</div>
                <div>Please schedule rounds.</div>
                <!-- <div class="mt-3">
                  <button
                    type="button"
                    class="btn text-light py-0 px-4 buttonBackground"
                    @click="routeToRound($event, driveId)"
                  >
                  <font-awesome-icon icon="plus" class="mr-1" />
                    Round
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Emit, Prop, Vue, Watch } from "vue-property-decorator";
import CustomSelect from "@/components/CustomSelect.vue";
import { interviewFeedback } from "@/modals/interviewFeedBack";
import { HTTP } from "@/http/http-common";
import axios from "axios";
import { Action, State } from "vuex-class";

interface IInteviewFeedBackObj {
  feedbackId: number;
  communicationSkill: string;
  presentationSkill: string;
  learningAbility: string;
  technicalSkill: string;
  interviewer: string;
  feedback: string;
  status: string;
  lastUpdatedBy: string;
  lastUpdatedAt: string;
  roundId: number;
}
interface ISingleInterviewObj {
  heading: string;
  value: string;
  keyVal: string;
  dropDownValue: Array<string>;
}
interface ICSSPseudoVariables {
  [variable: string]: string;
}
interface IEmitCandidateData {
  candidateId: number;
  status: string;
}
interface ICandidateData {
  candidateId: number;
  contactNumber: string;
  degree: string;
  degreePercentage: number;
  driveId: number;
  emailId: string;
  jspiderBranch: string;
  lastUpdatedAt: string;
  lastUpdatedBy: string;
  masterDegreeAggregate: number;
  name: string;
  status: string;
  stream: string;
  tenthPercentage: number;
  twelfthPercentage: number;
  yop: number;
}
@Component({
  components: {
    CustomSelect,
  },
})
export default class InterviewFeedback extends Vue {
  @Action("updatePopUp") updatePopUp;
  @Prop() showPopUp!: boolean;
  @Prop() driveId!: string;
  @Prop() getCandidate!: ICandidateData;
  @State((state) => state.loading) loading;

  readonlyAt = true;

  interviewFeedbackDetail = JSON.parse(JSON.stringify(interviewFeedback));
  totalRounds = 3;
  roundData = [
    {
      roundNumber: 1,
      panelName: "abc",
    },
    {
      roundNumber: 2,
      panelName: "xyz",
    },
    {
      roundNumber: 3,
      panelName: "mkl",
    },
  ];
  emptyErrObj = {
    communicationSkill: "",
    presentationSkill: "",
    learningAbility: "",
    technicalSkill: "",
    interviewer: "",
    feedback: "",
    status: "",
  };
  errObj = {
    communicationSkill: "",
    presentationSkill: "",
    learningAbility: "",
    technicalSkill: "",
    interviewer: "",
    feedback: "",
    status: "",
  };
  interviewMainObj: Array<IInteviewFeedBackObj> = [];
  selectedRoundObj = {
    feedbackId: -1,
    communicationSkill: "",
    presentationSkill: "",
    learningAbility: "",
    technicalSkill: "",
    interviewer: "",
    feedback: "",
    status: "",
    lastUpdatedBy: "",
    lastUpdatedAt: "",
    roundId: -1,
  };
  emptySelctedObj = {
    feedbackId: -1,
    communicationSkill: "",
    presentationSkill: "",
    learningAbility: "",
    technicalSkill: "",
    interviewer: "",
    feedback: "",
    status: "registered",
    lastUpdatedBy: "",
    lastUpdatedAt: "",
    roundId: -1,
  };
  activeRound = 0;
  get popUpStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      display: this.showPopUp ? "block" : "none",
    };
  }
  routeToRound(event: MouseEvent, driveId: string): void {
    this.$router.push({
      name: "Round",
      params: {
        analytics_driveId: driveId,
      },
    });
    event.stopPropagation();
  }
  convertDropDownObj(): void {
    if (this.interviewFeedbackDetail.length > 0) {
      for (const interviewFeedbacObj of this.interviewFeedbackDetail) {
        if (interviewFeedbacObj.keyVal !== "interviewer") {
          interviewFeedbacObj.value = JSON.parse(
            JSON.stringify(this.selectedRoundObj[interviewFeedbacObj.keyVal])
          );
        } else {
          const findIndex = this.roundData.findIndex(
            (val) => val.roundNumber === this.activeRound
          );
          interviewFeedbacObj.value = JSON.parse(
            JSON.stringify(this.selectedRoundObj[interviewFeedbacObj.keyVal])
          );
          interviewFeedbacObj.dropDownValue = this.roundData[
            findIndex
          ].panelName.split(",");
        }
      }
    }
  }
  updateSelectedObj(): void {
    const findIndex = this.interviewMainObj.findIndex(
      (val) => val.roundId === this.activeRound
    );
    if (findIndex !== -1) {
      this.selectedRoundObj = JSON.parse(
        JSON.stringify(this.interviewMainObj[findIndex])
      );
    } else {
      this.selectedRoundObj = JSON.parse(JSON.stringify(this.emptySelctedObj));
      this.selectedRoundObj.roundId = this.activeRound;
    }
    this.readonlyAt =
      this.selectedRoundObj.status === "registered" ? false : true;
  }
  updateActiveRound(index: number): void {
    const findIndex = this.interviewMainObj.findIndex(
      (val) => val.roundId === index
    );
    if (findIndex !== -1) {
      this.activeRound = index;
    } else {
      const previousIndex = index - 1;
      const findPrevIndex = this.interviewMainObj.findIndex(
        (val) => val.roundId === previousIndex
      );
      if (
        findPrevIndex !== -1 &&
        this.interviewMainObj[findPrevIndex].status === "selected"
      ) {
        this.activeRound = index;
      }
    }
  }
  changeSelectValue(value: string, keyName: ISingleInterviewObj): void {
    keyName.value = value;
    this.selectedRoundObj[keyName.keyVal] = value;
    this.validateField(keyName.keyVal);
  }
  @Emit("closeModal")
  closeModal(): number {
    return 0;
  }
  @Watch("activeRound")
  updateRoundFeedback(): void {
    this.updateSelectedObj();
    this.convertDropDownObj();
    this.errObj = JSON.parse(JSON.stringify(this.emptyErrObj));
  }
  updatedActiveRound(): void {
    this.interviewMainObj.sort((a, b) => a.roundId - b.roundId);
    let activeRoundIndex = 1;
    if (this.interviewMainObj.length >= 1) {
      activeRoundIndex = this.interviewMainObj[this.interviewMainObj.length - 1]
        .roundId;
      if (
        this.interviewMainObj[this.interviewMainObj.length - 1].status ===
        "selected"
      ) {
        if (activeRoundIndex + 1 <= this.roundData.length) {
          activeRoundIndex = activeRoundIndex + 1;
        }
      }
    }
    this.activeRound = activeRoundIndex;
  }
  @Watch("getCandidate", { deep: true })
  updateData(): void {
    this.getCandidateInterviewInfo().then(() => {
      if (this.roundData.length > 0) {
        this.updatedActiveRound();
        this.updateSelectedObj();
        this.convertDropDownObj();
        this.errObj = JSON.parse(JSON.stringify(this.emptyErrObj));
      }
    });
  }
  get lineWidthStyle(): Partial<CSSStyleDeclaration> {
    return {
      width: `${this.totalRounds * 30}px`,
    };
  }
  getCircleStyle(index: number): ICSSPseudoVariables {
    return {
      "--bg-color":
        this.getTextStyle(index) === false
          ? "green"
          : this.activeRound === index
          ? "#0d144f"
          : "white",
      "--color": this.activeRound === index ? "white" : "#0d144f",
      "--border-color":
        this.getTextStyle(index) === false ? "green" : "#0d144f",
      "--line-color": this.activeRound > index - 1 ? "green" : "#0d144f",
    };
  }
  updateFeedBack(event: KeyboardEvent): void {
    this.selectedRoundObj.feedback = (event.target as HTMLTextAreaElement).value;
    this.validateField("feedback");
  }
  btnStyle(val: string): Partial<CSSStyleDeclaration> {
    return {
      background: val === this.selectedRoundObj.status ? "#0d144f" : "white",
      color: val === this.selectedRoundObj.status ? "white" : "#0d144f",
    };
  }
  convertToMainObj(): void {
    for (const iterator of this.interviewFeedbackDetail) {
      this.selectedRoundObj[iterator.keyVal] = iterator.value;
    }
  }
  validateField(keyName: string): void {
    if (this.selectedRoundObj[keyName] === "") {
      const errMsgArr = keyName.split(/(?=[A-Z])/);
      if (errMsgArr.length === 1) {
        const str = errMsgArr[0];
        this.errObj[keyName] = `${
          str.charAt(0).toUpperCase() + str.slice(1)
        } is required *`;
      } else if (errMsgArr.length === 2) {
        const str = errMsgArr[0];
        this.errObj[keyName] = `${
          str.charAt(0).toUpperCase() + str.slice(1)
        } ${errMsgArr[1].toLowerCase()} is required *`;
      }
    } else {
      this.errObj[keyName] = "";
    }
  }
  displayError(): void {
    for (const iterator in this.selectedRoundObj) {
      if (iterator in this.errObj) {
        if (this.selectedRoundObj[iterator] === "") {
          const errMsgArr = iterator.split(/(?=[A-Z])/);
          if (errMsgArr.length === 1) {
            const str = errMsgArr[0];
            this.errObj[iterator] = `${
              str.charAt(0).toUpperCase() + str.slice(1)
            } is required *`;
          } else if (errMsgArr.length === 2) {
            const str = errMsgArr[0];
            this.errObj[iterator] = `${
              str.charAt(0).toUpperCase() + str.slice(1)
            } ${errMsgArr[1].toLowerCase()} is required *`;
          }
        } else {
          this.errObj[iterator] = "";
        }
      }
    }
  }
  getTextStyle(index: number): boolean {
    const findIndex = this.interviewMainObj.findIndex(
      (val) => val.roundId === index
    );
    if (findIndex !== -1) {
      return false;
    } else {
      return true;
    }
  }
  displayCircle(index: number): Partial<CSSStyleDeclaration> {
    return {
      display: this.activeRound !== index ? "none" : "block",
    };
  }
  async addCandidateFeeback(status: string): Promise<void> {
    const localInterviewObj = JSON.parse(JSON.stringify(this.selectedRoundObj));
    delete localInterviewObj.roundId;
    delete localInterviewObj.feedbackId;
    try {
      const res = await HTTP.post(
        `candidatestatus/addcandidatestatus?driveId=${this.driveId}&candidateId=${this.getCandidate.candidateId}&roundId=${this.selectedRoundObj.roundId}`,
        localInterviewObj
      );
      const resp = res.data;
      if (!resp.error) {
        this.interviewMainObj.push(
          JSON.parse(JSON.stringify(this.selectedRoundObj))
        );
        this.updatedSelectedRound(status);
        this.updatePopUp({
          isPopUpVisible: true,
          popUpType: "success",
          popUpMessage: "Updated Successfully",
        });
      }
    } catch (err) {
      console.log("error", err);
    }
  }
  updatedSelectedRound(value: string): void {
    if (value === "selected" && this.activeRound + 1 <= this.roundData.length) {
      this.activeRound = this.activeRound + 1;
    }
    if (this.selectedRoundObj.roundId === this.interviewMainObj.length) {
      this.readonlyAt = true;
    }
  }
  @Emit("emitCandidateStatus")
  emitCandidateStatus(val: IEmitCandidateData): IEmitCandidateData {
    return val;
  }
  updateCandidateStatus(status: string): void {
    const localInterviewObj = JSON.parse(JSON.stringify(this.selectedRoundObj));
    delete localInterviewObj.roundId;
    delete localInterviewObj.feedbackId;
    axios
      .all([
        HTTP.post(
          `candidatestatus/addcandidatestatus?driveId=${this.driveId}&candidateId=${this.getCandidate.candidateId}&roundId=${this.selectedRoundObj.roundId}`,
          localInterviewObj
        ),
        HTTP.put(
          `updateCandidateStatus?driveId=${this.driveId}&status=${status}`,
          [this.getCandidate]
        ),
      ])
      .then(
        axios.spread((res1, res2) => {
          const resp1 = res1.data;
          const resp2 = res2.data;
          if (!resp1.error && !resp2.error) {
            this.interviewMainObj.push(
              JSON.parse(JSON.stringify(this.selectedRoundObj))
            );
            this.updatedSelectedRound(status);
            this.emitCandidateStatus({
              candidateId: this.getCandidate.candidateId,
              status: status,
            });
          }
        })
      )
      .catch((err) => {
        console.log("err", err);
      });
  }
  updateStatus(value: string): void {
    this.displayError();
    let errMsg = false;
    for (const iterator in this.errObj) {
      if (this.errObj[iterator] !== "") {
        errMsg = true;
        break;
      }
    }
    if (errMsg === false) {
      this.selectedRoundObj.status = value;
      this.selectedRoundObj.roundId = this.interviewMainObj.length + 1;
      this.convertToMainObj();
      if (this.selectedRoundObj.status === "rejected") {
        this.updateCandidateStatus(value);
      } else if (
        value === "selected" &&
        this.activeRound === this.roundData.length
      ) {
        this.updateCandidateStatus(value);
      } else {
        this.addCandidateFeeback(value);
      }
    }
  }
  finalRoundStyle(index: number): Partial<CSSStyleDeclaration> {
    return {
      fontSize: this.totalRounds === index ? "10px" : "",
      position: "relative",
      top: this.totalRounds === index ? "-2px" : "",
      fontWeight: this.totalRounds === index ? "500" : "",
    };
  }
  async getCandidateInterviewInfo(): Promise<void> {
    try {
      const res = await HTTP(
        `getCandidateDetails?driveId=${this.driveId}&candidateId=${this.getCandidate.candidateId}`
      );
      const data = await res.data;
      this.interviewMainObj = [...data.data.feedBackDetails];
      this.roundData = [...data.data.roundDetails];
    } catch (err) {
      console.log("error", err);
    }
  }
}
</script>
<style scoped>
.card-body {
  background-color: rgba(0, 0, 0, 0.03);
  height: 400px;
  overflow-y: auto;
}
.card-header {
  background: white;
  border: 1px solid white;
}
.headerLabel {
  font-size: 20px;
  font-weight: 700 !important;
  display: inline;
}
.closeButtonClass {
  top: 5px;
  float: right;
  position: relative;
}
.circle {
  display: inline-block;
  background: #fff;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 2.5rem;
  box-shadow: 0 0 0 0.5rem #fff;
}
.labelClass {
  text-align: left;
  display: block;
  padding-left: 10px;
  font-size: 11px;
}
.textAreaClass {
  background: white;
  width: 100%;
  resize: none;
  padding: 10px;
}
.innercontainer {
  padding: 20px;
  padding-top: 0px;
  height: 250px;
  overflow-y: auto !important;
}
.btn-sm {
  border-radius: 16.5px;
  background: white;
  color: #0d144f;
  border: 1px solid #0d144f;
}
.btn-sm:hover {
  border-radius: 16.5px;
  color: white;
  background: #0d144f;
  border: 1px solid #0d144f;
}
.btnClass {
  text-align: end;
}
li {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  border-radius: 1em;
  background: var(--bg-color);
  margin: 0 1em;
  display: inline-block;
  color: var(--color);
  position: relative;
  font-size: 14px;
  border: 1px solid;
  border-color: var(--border-color);
}

li::before {
  content: "";
  position: absolute;
  top: 0.7em;
  left: -29px;
  width: 2em;
  height: 0.15em;
  background: var(--line-color);
}

li:first-child::before {
  display: none;
}

:focus {
  outline: none;
  box-shadow: 0px 0px 0px 0px transparent;
}
.fa-check {
  color: white;
}
.cursorClass {
  cursor: pointer !important;
}
.errorClass {
  color: red;
  font-size: 10px;
  text-align: left;
  display: block;
  margin-left: 10px;
}
.modal-position {
  width: 100%;
  height: 600px;
  top: 10%;
  position: fixed;
}
.btn-rej {
  background: red !important;
  color: white;
  border: 1px solid red !important;
}
.btn-success {
  background: green !important;
  color: white;
  border: 1px solid green !important;
}
.modal {
  background: rgb(0, 37, 77, 0.6);
}
.buttonBackground {
  background-color: #0d144f;
}
.activeRoundStyle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 0px;
  background-color: grey;
  margin-left: 5px;
}
</style>