<template>
  <div class="outerDiv">
    <div>
      <div class="innerDiv">
        <span class="spanClass">{{ driveName }}</span>
      </div>
      <div class="scheduleDiv">
        <span class="scheduleSpan">{{ driveDate }}</span>
      </div>
    </div>
    <div class="card card-body mt-3 mx-3 backpage hidden">
      <div class="container containerWidth">
        <div class="flexDivClass">
          <template>
            <div class="text-center mb-5">
              <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <font-awesome-icon icon="filter" class="mx-5" v-bind="attrs"
                    v-on="on"/>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(item, index) in filterItem"
                    :key="index"
                    link
                    @click="selectFilterItem(item)"
                  >
                    <v-list-item-title class="d-flex">{{
                      item
                    }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </template>
          <span>{{ statusText }}</span>
          <span class="statusSpanClass">
            <span class="statusInnerSpanClass"
              ><label class="statusCodeStyle selectedColor"></label
              >Selected</span
            ><span class="statusInnerSpanClass"
              ><label class="statusCodeStyle trainingColor"></label>OnBoarded</span
            ><span class="statusInnerSpanClass"
              ><label class="statusCodeStyle addressingColor"></label>Attended
              Addressing Session</span
            ><span class="statusInnerSpanClass"
              ><label class="statusCodeStyle rejectedColor"></label
              >Rejected</span
            >
          </span>
          <div class="cardTitleDiv">
            <v-card-title :style="cardStyleObj" @click="searchClicked = true">
              <v-text-field
                @blur="searchClicked = false"
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
          </div>
        </div>
        <v-data-table
          @click:row="(value) => getCandidateData(value)"
          v-model="selected"
          :headers="headers"
          :items="candidates"
          :search="search"
          :single-select="singleSelect"
          item-key="candidateId"
          show-select
          class="elevation-1"
          :item-class="itemRowBackground"
        >
          <template v-slot:[`item.name`]="{ item }">
            <div class="flexDivClass">
              <v-icon class="vIconClass">{{ icons.mdiAccount }}</v-icon
              ><span>{{ item.name }}</span>
            </div>
          </template>
        </v-data-table>
        <button
          v-if="statusText === 'Selected'"
          class="moveToStyle"
          @click="moveToAddressing()"
          :disabled="setAddressDisabled()"
        >
          Move To Addressing
        </button>
        <button
          v-else-if="statusText === 'Attended Addressing Session'"
          class="moveToStyle"
          @click="moveToTraining()"
          :disabled="setTrainingDisabled()"
        >
          Move To Training
        </button>
      </div>
      <InterviewFeedback
        :showPopUp="showPopUp"
        @closeModal="openPopUp(false)"
        :getCandidate="getCandidate"
        @emitCandidateStatus="emitCandidateStatus"
        :driveId="analytics_driveId"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Ref, Vue } from "vue-property-decorator";
import { mdiAccount, mdiPencil, mdiShareVariant, mdiDelete } from "@mdi/js";
import InterviewFeedback from "@/components/InterviewFeedback.vue";
import { HTTP } from "@/http/http-common";
import { Action } from "vuex-class";

interface ICandidatesStatus {
  name: string;
  contactNumber: string;
  emailId: string;
  degree: string;
  stream: string;
  yop: number;
  tenthPercentage: number;
  twelfthPercentage: number;
  degreePercentage: number;
  status: string;
  jspiderBranch: string;
  masterDegreeAggregate: number;
  candidateId: number;
}
interface ICandidateData {
  candidateId: number;
  contactNumber: string;
  degree: string;
  degreePercentage: number;
  driveId: number;
  emailId: string;
  jspiderBranch: string;
  lastUpdatedAt: string;
  lastUpdatedBy: string;
  masterDegreeAggregate: number;
  name: string;
  status: string;
  stream: string;
  tenthPercentage: number;
  twelfthPercentage: number;
  yop: number;
}
interface IEmitCandidateData {
  candidateId: number
  status: string
}
@Component({
  components: {
    InterviewFeedback,
  },
})
export default class List extends Vue {
  getCandidate = {};
  @Prop() private msg!: string;
  @Prop({ default: "none" }) private analytics_driveId!: string;
  @Prop({ default: "none" }) private sortKey!: string;
  @Ref("dropDownRef") dropDownRef!: HTMLDivElement;
  @Action("updatePopUp") updatePopUp;

  driveName = "";
  driveDate = "";
  showPopUp = false;
  icons = {
    mdiAccount,
    mdiPencil,
    mdiShareVariant,
    mdiDelete,
  };
  statusText = "All Candidates";
  searchClicked = false;
  search = "";
  singleSelect = false;
  selected: Array<ICandidatesStatus> = [];
  headers = [
    { text: "Name", value: "name" },
    { text: "Contact Number", value: "contactNumber" },
    { text: "Mail ID", value: "emailId" },
    { text: "Degree", value: "degree" },
    { text: "Stream", value: "stream" },
    { text: "YOP", value: "yop" },
    { text: "10th%", value: "tenthPercentage" },
    { text: "12th%", value: "twelfthPercentage" },
    { text: "Degree%", value: "degreePercentage" },
    { text: "Master Degree%", value: "masterDegreeAggregate" },
    { text: "Branch", value: "jspiderBranch" },
  ];
  candidates: Array<ICandidatesStatus> = [];
  allCandidates: Array<ICandidatesStatus> = [];
  filterItem = [
    "All Candidates",
    "Candidates List With Status",
    "Selected",
    "Attended Addressing Session",
    "OnBoarded",
    "Rejected",
  ];

  getCandidateData(value: ICandidateData): void {
    this.getCandidate = value;
    this.openPopUp(true);
  }

  selectFilterItem(item: string): void {
    if (item === this.filterItem[0]) {
      this.selectAllCandiates();
    } else if (item === this.filterItem[1]) {
      this.selectCandidatesList();
    } else if (item === this.filterItem[2]) {
      this.selectSelectedCandiates();
    } else if (item === this.filterItem[3]) {
      this.selectAddressingCandiates();
    } else if (item === this.filterItem[4]) {
      this.selectTrainingCandiates();
    } else if (item === this.filterItem[5]) {
      this.selectRejectedCandiates();
    }
  }
  emitCandidateStatus (val: IEmitCandidateData): void {
    const findIndex= this.candidates.findIndex(value => value.candidateId === val.candidateId)
    if(findIndex !== -1) {
      this.candidates[findIndex].status = val.status
    }
  }

  openPopUp(val: boolean): void {
    this.showPopUp = val;
  }

  setAddressDisabled(): boolean {
    if (this.selected.length === 0) {
      return true;
    } else {
      return false;
    }
  }

  setTrainingDisabled(): boolean {
    if (this.selected.length === 0) {
      return true;
    } else {
      return false;
    }
  }

  selectCandidatesList(): void {
    this.candidates = [];
    this.statusText = "Candidates List With Status";
    this.candidates = this.allCandidates;
    this.selected = [];
  }

  selectAllCandiates(): void {
    this.candidates = [];
    this.statusText = "All Candidates";
    this.candidates = this.allCandidates;
    this.selected = [];
  }

  selectSelectedCandiates(): void {
    this.candidates = [];
    this.statusText = "Selected";
    for (let index = 0; index < this.allCandidates.length; index++) {
      const element = this.allCandidates[index];
      if (element.status === "selected") {
        this.candidates.push(element);
      }
    }
    this.selected = [];
  }

  selectAddressingCandiates(): void {
    this.candidates = [];
    this.statusText = "Attended Addressing Session";
    for (let index = 0; index < this.allCandidates.length; index++) {
      const element = this.allCandidates[index];
      if (element.status === "addressing") {
        this.candidates.push(element);
      }
    }
    this.selected = [];
  }

  selectTrainingCandiates(): void {
    this.candidates = [];
    this.statusText = "OnBoarded";
    for (let index = 0; index < this.allCandidates.length; index++) {
      const element = this.allCandidates[index];
      if (element.status === "onboarded") {
        this.candidates.push(element);
      }
    }
    this.selected = [];
  }

  selectRejectedCandiates(): void {
    this.candidates = [];
    this.statusText = "Rejected";
    for (let index = 0; index < this.allCandidates.length; index++) {
      const element = this.allCandidates[index];
      if (element.status === "rejected") {
        this.candidates.push(element);
      }
    }
    this.selected = [];
  }

  async moveToAddressing(): Promise<void> {
    for (let index = 0; index < this.selected.length; index++) {
      const element = this.selected[index];
      element.status = "addressing";
    }
    try {
      // Url For Move to Addressing
      const response = await HTTP.put(
        `updateCandidateStatus?driveId=${this.analytics_driveId}&status=addressing`,
        this.selected
      );
      if(!response.data.error) {
        this.updatePopUp({
          isPopUpVisible: true,
          popUpType: 'success',
          popUpMessage: 'Saved Successfully'
        })
      }
    } catch (err) {
      console.log("Error", err);
    }
    this.selectSelectedCandiates();
    this.selected = [];
  }

  async moveToTraining(): Promise<void> {
    for (let index = 0; index < this.selected.length; index++) {
      const element = this.selected[index];
      element.status = "onboarded";
    }
    try {
      // Url For Move to Training
      const response = await HTTP.put(
        `updateCandidateStatus?driveId=${this.analytics_driveId}&status=onboarded`,
        this.selected
      );
      if (!response.data.error) {
        this.updatePopUp({
          isPopUpVisible: true,
          popUpType: 'success',
          popUpMessage: 'Saved Successfully'
        })
      }
    } catch (err) {
      console.log("Error", err);
    }
    this.selectAddressingCandiates();
    this.selected = [];
  }

  mounted(): void {
    this.getCompleteCandiatesList();
    
  }

  async getCompleteCandiatesList(): Promise<void> {
    try {
      const response = await HTTP.get(
        `getdriveinfo?driveId=${this.analytics_driveId}`
      );
      if (!response.data.error) {
        this.allCandidates = response.data.data.candidateData;
        this.candidates = this.allCandidates;
        this.driveName = response.data.data.driveName
        this.driveDate = response.data.data.driveScheduledAt
        this.filterAfterRouting();
      }
    } catch (err) {
      console.log("Error", err);
    }
  }
  filterAfterRouting(): void {
    if (this.sortKey !== "none") {
      if (this.sortKey === "All") {
        this.selectCandidatesList();
      } else if (this.sortKey === "Training") {
        this.selectTrainingCandiates();
      } else if (this.sortKey === "Selected") {
        this.selectSelectedCandiates();
      } else if (this.sortKey === "Rejected") {
        this.selectRejectedCandiates();
      } else if (this.sortKey === "Addressing") {
        this.selectAddressingCandiates();
      }
    }
  }

  itemRowBackground(item: {
    name: string;
    contactNumber: string;
    mailId: string;
    degree: string;
    stream: string;
    yop: number;
    tenth: number;
    twelfth: number;
    degreeMarks: number;
    status: string;
    jspidersBranch: string;
    masterDegreeAggregate: number;
  }): string {
    if (this.statusText !== "All Candidates") {
      return item.status === "selected"
        ? "style-2"
        : item.status === "addressing"
        ? "style-3"
        : item.status === "onboarded"
        ? "style-4"
        : item.status === "rejected"
        ? "style-5"
        : "";
    } else {
      return "";
    }
  }
  get cardStyleObj(): Partial<CSSStyleDeclaration> {
    return { width: this.searchClicked ? "220px" : "220px" };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="css">
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 273px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.style-2 {
  background-color: rgb(28, 177, 28, 0.1);
  outline: 1px solid rgb(28, 177, 28);
  outline-offset: -2px;
}
.style-3 {
  background-color: rgb(38, 38, 175, 0.1);
  outline: 1px solid rgb(38, 38, 175);
  outline-offset: -2px;
}
.style-4 {
  background-color: rgb(255, 185, 58, 0.1);
  outline: 1px solid rgb(255, 185, 58);
  outline-offset: -2px;
}
.style-5 {
  background-color: rgb(228, 73, 73, 0.1);
  outline: 1px solid rgb(228, 73, 73);
  outline-offset: -2px;
}

.v-icon__svg {
  height: 19px !important;
  width: 19px !important;
}

.moveToStyle {
  background-color: rgb(8, 8, 131);
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.moveToStyle:disabled,
.moveToStyle[disabled] {
  background-color: rgb(8, 8, 131);
  color: white;
  opacity: 0.3;
  border-radius: 10px;
  padding: 10px;
}

.v-card__title {
  padding-top: 0px !important;
}

.v-input {
  padding-top: 0px !important;
}

.statusCodeStyle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 0px;
  margin-right: 5px;
}
#myDropdown:focus {
  outline: rgb(71, 196, 218);
  outline-width: 3px;
}

.outerDiv {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.innerDiv {
  font-size: 25px;
  font-weight: bold;
  float: left;
  height: 100%;
  position: relative;
  left: 24px;
  top: 17px;
}

.spanClass {
  display: flex;
  align-items: center;
}

.scheduleDiv {
  color: lightgray;
  font-size: 15px;
  float: left;
  height: 100%;
  left: 40px;
  top: 25px;
  position: relative;
}
.scheduleSpan {
  display: flex;
  align-items: center;
}

.containerWidth {
  max-width: 1400px;
}

.flexDivClass {
  display: flex;
}
.statusSpanClass {
  position: absolute;
  left: 350px;
  display: grid;
  grid-template-columns: 158px 150px;
  grid-template-rows: 17px;
}

.statusInnerSpanClass {
  display: flex;
  font-size: 10px;
}

.vIconClass {
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 10px;
  height: 20px;
  display: flex;
  align-self: center;
}

.cardTitleDiv {
  display: inline-block;
  width: 250px;
  position: absolute;
  left: 650px;
}
.selectedColor {
  background: rgb(28, 177, 28);
}
.trainingColor {
  background: rgb(255, 185, 58);
}
.addressingColor {
  background: rgb(38, 38, 175);
}
.rejectedColor {
  background: rgb(228, 73, 73);
}
.hidden {
  overflow: hidden;
}
</style>

