<template>
<div>

  <div id="overlay">
    <div class="wrapper">
      <div class="loader">
        <div class="v-bar first"></div>
        <div class="v-bar second"></div>
        <div class="v-bar third"></div>
      </div>
    </div>
  </div>
</div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Loading extends Vue {}
</script>
<style scoped>
#bg-div{

    filter: blur(8px);
      -webkit-filter: blur(8px);
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  cursor: pointer;
}
.loader {
  position: relative;
}
.loader .v-bar {
  position: absolute;
  bottom: 0;
  width: 20px;
  margin: 2px;
  display: inline-block;
  transition-property: all;
  animation: v-bar-grow .8s infinite linear;
}

@keyframes v-bar-grow {
  0%  {height:20px;}
  20%  {height:45px;}
  40%  {height:60px;}
  60%  {height:60px;}
  80%  {height:45px;}
  100% {height:20px;}
}

.v-bar.first {
  background-color: #d4d1d1;
  animation-delay: .3s;
  left: 0;
}

.v-bar.second {
  background-color: #d4d1d1;
  left: 25px;
}

.v-bar.third {
  background-color: #d4d1d1;
  animation-delay: .5s;
  left: 50px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
</style>