<template>
  <div>
    <div id="myModal" class="sub-modal">
      <div class="sub-modal-content">
        <font-awesome-icon icon="times"
          class=" text-info float-right pointerClass"
          @click="(tempMasterCheckList = []), closeMasterlist()"
          title="close"
        ></font-awesome-icon>
        <div class="title d-flex my-5">
          <p class="fs-2">Master Checklist</p>
        </div>
        <div>
          <template>
            <v-simple-table fixed-header height="300px">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Agenda</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                  <tr
                    v-for="(item, index) in tempMasterCheckList"
                    :key="item.checklistId"
                  >
                    <td class="text-left">
                      <input
                        type="text"
                        :id="item.checklistId + 'agenda'"
                        :value="item.checklistValue"
                        disabled
                        @blur="saveAgenda($event, index)"
                        @keydown.enter="saveAgenda($event, index)"
                      />
                      
                      <i
                        class="fas fa-pen float-right pointer"
                        v-if="
                          !(
                            editAgendaIndex === item.checklistId ||
                            (null === item.checklistId && addAgendaFlag)
                          )
                        "
                        @click="editAgenda($event, item.checklistId)"
                      ></i>
                      <i
                        class="far fa-trash-alt float-right pointer"
                        v-if="
                          !(
                            editAgendaIndex === item.checklistId ||
                            (null === item.checklistId && addAgendaFlag)
                          )
                        "
                        @click="deleteAgenda(item.checklistId)"
                      ></i>
                      <span class="errmsg" v-if="
                          ( addAgendaFlag? item.checklistId === null:
                            editAgendaIndex === item.checklistId 
                          ) && errMsg!==''
                        ">{{errMsg}}</span>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </template>
          <v-footer>
            <v-spacer></v-spacer>
            <div class="pointer btn btn-outline-info" @click="addAgenda">
              <font-awesome-icon icon="plus" class="mr-2"/>
              <span>Add new agenda</span>
            </div>
          </v-footer>

          <div class="mt-3 h5 d-flex justify-content-end">
            <button
              class="btn btn-info mr-3"
              @click="closeMasterlist"
              title="Cancel"
            >
              Cancel
            </button>
            <button
              class="btn btn-info"
              title="Done"
              @click="saveCheckListProgress"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { HTTP } from "@/http/http-common";
import { Vue, Prop, Component, Emit } from "vue-property-decorator";
@Component
export default class MasterListPopup extends Vue {
  @Prop() private masterChecklistData!: Array<{
    checklistId: number | null;
    checklistValue: string;
    lastUpdatedAt: string;
    lastUpdatedBy: null;
  }>;
  tempMasterCheckList: Array<{
    checklistId: number | null;
    checklistValue: string;
    lastUpdatedAt: string;
    lastUpdatedBy: null;
  }> = JSON.parse(JSON.stringify(this.masterChecklistData));
  editAgendaIndex = 0;
  addAgendaFlag = false;

  @Emit("closeMasterlist")
  closeMasterlist(): boolean {
    return false;
  }

  //done button
  saveCheckListProgress(): void {
    if (this.editAgendaIndex === 0 && this.addAgendaFlag === false) {
      this.postMasterCheckList();
      this.emitMasterChecklistData();
      this.closeMasterlist();
    }
  }

  //emit masterChecklistData
  @Emit("emitMasterChecklistData")
  emitMasterChecklistData(): Array<{
    checklistId: number | null;
    checklistValue: string;
    lastUpdatedAt: string;
    lastUpdatedBy: null;
  }> {
    return this.tempMasterCheckList;
  }

  //post MasterCheckList
  async postMasterCheckList(): Promise<void> {
    try {
      const res = await HTTP.post(`addmasterChecklist`, this.tempMasterCheckList)
      if(!res.data.error){
      this.masterChecklistData = res.data.data
      }
    } catch (error) {
      console.log("Error", error);
    }
  }

  //edit existing agenda
  editAgenda(event: Event, index: number): void {
    if (this.editAgendaIndex === 0) {
      const ele = (event.target as HTMLDivElement).previousSibling;
      if (ele !== null) {
        (ele as HTMLInputElement).removeAttribute("disabled");
        (ele as HTMLInputElement).focus();
        (ele.parentNode as HTMLDivElement).style.background =
          "rgb(238 237 237)";
      }
      this.editAgendaIndex = index;
    }
  }

  //add new agenda
  addAgenda(): void {
    if (this.editAgendaIndex === 0) {
      this.tempMasterCheckList.push({
        checklistId: null,
        checklistValue: "",
        lastUpdatedAt: "",
        lastUpdatedBy: null,
      });
      this.addAgendaFlag = true;
      this.editAgendaIndex = this.tempMasterCheckList.length - 1;
      this.$forceUpdate();
    }
  }

  // //used for adding new agenda
  updated(): void {
    if (this.addAgendaFlag) {
      const ele = document.getElementById("nullagenda") as HTMLInputElement;
      ele.removeAttribute("disabled");
      ele.focus();
      (ele.parentNode as HTMLDivElement).style.background = "rgb(238 237 237)";
    }
  }

  //save the agenda
  saveAgenda(event: Event, index: number): void {
    const ele = event.target as HTMLDivElement;
    // if (this.validateAgenda((ele as HTMLInputElement).value)) {
      //for save after edit
      if (!this.addAgendaFlag) {
        this.tempMasterCheckList[
          index
        ].checklistValue = (ele as HTMLInputElement).value;
        if(this.validateAgenda((ele as HTMLInputElement).value)){
          (ele as HTMLInputElement).setAttribute("disabled", "true");
        this.editAgendaIndex = 0;
        this.editAgendaIndex = 0;
        ((ele as HTMLInputElement)
          .parentNode as HTMLDivElement).style.background = "white";
        }
      } else {
        //save after add
        this.tempMasterCheckList[
          this.tempMasterCheckList.length - 1
        ].checklistValue = (ele as HTMLInputElement).value;
        if(this.validateAgenda((ele as HTMLInputElement).value)){
          (ele as HTMLInputElement).setAttribute("disabled", "true");
        this.addAgendaFlag = false;
        this.editAgendaIndex = 0;
        this.tempMasterCheckList[
          this.tempMasterCheckList.length - 1
        ].checklistId = this.tempMasterCheckList.length;
        (ele as HTMLInputElement).style.background = "white";
        }
      }
    // }
  }

  //delete an agenda
  deleteAgenda(index: number): void {
    if (this.editAgendaIndex === 0 && this.addAgendaFlag === false) {
      this.tempMasterCheckList = this.tempMasterCheckList.filter((item) => {
        if (!(item.checklistId === index)) {
          return item;
        }
      });
    }
  }
  errMsg = ''
  validateAgenda(agendaValue: string): boolean {
    if (agendaValue === "") {
      this.errMsg = "Agenda cannot be empty"
      return false;
    } else{
      const masterChecklistValues = this.tempMasterCheckList.map((ele,index) => {
        if(!this.addAgendaFlag){
          if(this.editAgendaIndex === ele.checklistId){
            return ''
          } 
        }else{
          if(index === this.tempMasterCheckList.length -1){
            return ''
          }
        }
        return ele.checklistValue;
      });
      if(masterChecklistValues.includes(agendaValue)){
        this.errMsg = 'Agenda already exist'
        return false
      }
    }
    this.errMsg = ""
    return true;
  }
}
</script>
<style scoped>
.sub-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.sub-modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 550px;
  border-radius: 24px;
}
.modal-content {
  border-radius: 31px;
}
.modal {
  background: rgb(0, 37, 77, 0.6);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.pointerClass {
  cursor: pointer;
}

i.fa-pen {
  display: none;
}
td:hover i.fa-pen {
  display: inline-block;
}
i.fa-trash-alt {
  display: none;
}
td:hover i.fa-trash-alt {
  display: inline-block;
}
input {
  outline: none;
}
.fa-save {
  color: green;
  margin: 5px;
}
.fa-trash-alt {
  color: red;
  margin: 5px;
}
.fa-pen {
  margin: 5px;
}
.pointer {
  cursor: pointer;
}
.v-sheet.v-footer {
  background-color: white;
}
.errmsg{
  font-size: 12px;
  color: red;
}
</style>