<template>
  <div id="nav">
    <nav class="navbar navbar-light bg-black font shadow-sm ">
      <div> 
       <router-link exact to="/"> <a class="navbar-brand font-weight-bold" href="#"
        ><span class="fore-color">HTD</span></a
      ></router-link>
      </div>
      <div class="ml-auto mr-auto navitems">
      <router-link exact to="/"> <a class="navbar-brand" href="#"
        ><span class="lite-color">Analytics</span></a
      ></router-link>
      <router-link exact to="/fileupload"> <a class="navbar-brand " href="#"
        ><span class="lite-color">Schedule Drive</span></a
      ></router-link>
      <!-- <router-link exact to="/list"> <a class="navbar-brand " href="#"
        ><span class="lite-color">List</span></a
      ></router-link> -->
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component({
  components: {
  },
})
export default class NavBar extends Vue {
  
}
</script>

<style scoped>
#nav {
  z-index: 2;
  position: sticky;
  top: 0px;
  margin: 0px  !important;
}
.fit-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50px;
}
a {
  font-size: 1.1rem !important;
  font-weight: 600;
}
.fore-color {
  color: #076288;
}
.lite-color {
  color: white;
    font-size: 15px;
}
.bg-color {
  background-color: #076288;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff !important;
  padding: 5px 15px !important;
}
.nav-item {
  padding: 0px 10px;
}
.navbar-brand {
  font-size: 1.5rem !important;
  margin-left: 5%;
}
.icon-bar {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(7, 98, 135, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-light {
  background:#464242 !important;
}
.navitems {
  width: 50%
}
.fore-color{
  color: white
}
</style>
