<template>
  <div>
    <input
      class="form-control inputClass m-0"
      type="text"
      :value="panelName"
      @input="updatePanelName"
    />
    <div class="iconDiv">
    <font-awesome-icon
      icon="times-circle"
      :style="{ display: panelFirstIndex ? 'inline' : 'none' }"
      class="pl-2 mt-2 iconClass2 cursorClass"
      aria-hidden="true"
      @click="deletePanelName"
    />
    <font-awesome-icon
      icon="plus-circle"
      :style="{ display: panelLastIndex ? 'inline' : 'none' }"
      class="pl-2 mt-2 iconClass1 cursorClass"
      aria-hidden="true"
      @click="addPanelName"
    />
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class SingleRound extends Vue {
  @Prop() panelName!: string;
  @Prop() panelLastIndex!: boolean;
  @Prop() panelFirstIndex!: boolean;
  @Emit("addPanelName")
  addPanelName(): number {
    return 0;
  }
  @Emit("deletePanelName")
  deletePanelName(): number {
    return 0;
  }
  @Emit("updatePanelNameValue")
  updatePanelNameValue(val: string): string {
    return val;
  }
  updatePanelName(event: KeyboardEvent): void {
    const targetVal = (event.target as HTMLInputElement).value
    this.updatePanelNameValue(targetVal);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.inputClass {
  border: 1px solid black;
  width: 84%;
  display: inline;
  float: left;
}
.iconClass1 {
  width: 23px;
  float: left;
}
.iconClass2 {
  width: 23px;
  float: left;
}
.cursorClass{
  cursor: pointer !important;
}
.iconDiv {
  display: inline;
  width: 16%
}
</style>