<template>
  <div
    :style="popUpStyleObj"
    class="modal outerDiv"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog dialogDiv" role="document">
      <!-- Success Alert -->
      <div class="alert alert-success alert-dismissible fade show" :style="modalContentStyleObj">
        <template v-if="popUpObj.popUpType === 'success'">
          <font-awesome-icon icon="check-circle"  class="checkIcon"/>
        </template>
        <template v-else>
          <font-awesome-icon icon="times-circle"  class="closeIcon"/>
        </template>
        <span class="textClass">{{popUpObj.popUpMessage}}</span>
        <!-- <button
          type="button"
          class="close"
          data-dismiss="alert"
          @click="closeModal"
        >
          &times;
        </button> -->
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Watch, Vue } from "vue-property-decorator";
import { Action, State } from "vuex-class";

@Component({})
export default class PopUp extends Vue {
  @State((state) => state.popUpObj) popUpObj;
  @Action("updateIsPopUpVisible") updateIsPopUpVisible;

  get popUpStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      display: this.popUpObj.isPopUpVisible ? "block" : "none",
    };
  }

  @Watch("popUpObj", { deep: true })
  onShow(): void {
    if (this.popUpObj.isPopUpVisible) {
      setTimeout(() => {
        this.updateIsPopUpVisible(false);
      }, 3000);
    }
  }

  get modalContentStyleObj(): Partial<CSSStyleDeclaration> {
    return {
      backgroundColor: this.popUpObj.popUpType === "success" ? "#e9f4e9 !important" : "#f2dede !important",
    };
  }
  // closeModal(): void {
  //   this.updateIsPopUpVisible(false);
  // }
}
</script>
<style scoped>
.dialogDiv {
  max-width: 484px;
  display: flex;
  justify-content: center;
}

.modalContentDiv {
  border-radius: 31px;
  width: 165px;
  height: 100px;
}

.modalHeaderDiv {
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
  top: -39px;
}

.imgClass {
  border-radius: 50%;
  height: 45px;
}

.modalBodyDiv {
  position: relative;
  top: -68px;
}

.profileDiv {
  width: 80px;
  height: 80px;
  position: relative;
  top: 13px;
  display: contents;
  font-weight: black;
}

.widthDivClass {
  width: 400px;
}
.checkIcon {
  font-size: 30px;
  color: #28a745;
}
.closeIcon {
   font-size: 30px;
  color:red;
}
.textClass {
  position: relative;
  top: -5px;
  padding-left: 10px;
  color: black;
}
.close {
  font-size: 35px;
  font-weight: 100;
  color: black;
  top: -1px;
}
</style>