<template>
  <div class="card card-body mt-3 mx-3 mb-3 backpage">
    <div class="container col-md-5  col-sm-10 maincontainer mb-12 column1">
      <div class="row align-items-center">
        <div class="roundInfoContainer">
          <SingleRoundInfo
            class="mt-4"
            v-for="(rc, index) in mainData.roundsDetails"
            :key="index"
            @addRound="addRound"
            @deleteRound="deleteRound(index)"
            @deletePanelName="(index) => deletePanelName(index, rc)"
            @updatePanelNameValue="(val) => updatePanelNameValue(val, index)"
            :roundsDetail="rc"
            :roundNumber="index"
            :roundLastIndex="mainData.roundsDetails.length - 1 === index"
            :roundFirstIndex="mainData.roundsDetails.length !== 1"
            @addPanelName="addPanelName(rc)"
          />
        </div>
      </div>
    </div>
    <div class="column2">
      <button class="btn submitBtn" @click="submitValue">submit</button>
    </div>
  </div>
</template>

<script lang="ts">
import { HTTP } from "@/http/http-common";
import { validators } from "@/validators/validators";
import { Action } from "vuex-class";
import { Component, Prop, Vue } from "vue-property-decorator";
import SingleRoundInfo from "./SingleRoundInfo.vue";
interface IRoundObj {
  roundNumber: number;
  panelName: string;
}
interface IFrontendRoundObj {
  roundNumber: number;
  panelName: Array<IPanelObj>;
}
interface IFrontendRoundData {
  totalNoOfRounds: number;
  roundsDetails: Array<IFrontendRoundObj>;
}
interface IPanelObj {
  name: string;
  errMsg: string;
}
interface IPanelData {
  val: string;
  index: string;
}
@Component({
  components: {
    SingleRoundInfo,
  },
})
export default class Round extends Vue {
  @Prop({ default: "none" }) private analytics_driveId!: string;
  @Action("updatePopUp") updatePopUp;
  roundObject = {
    panelName: [
      {
        name: "",
        errMsg: "",
      },
    ],
    roundNumber: 0,
  };
  panelObj = {
    name: "",
    errMsg: "",
  };
  roundDetailObj = {
    panelName: [],
    roundNumber: 0,
  };
  backendObj = {
    roundNumber: 1,
    panelName: [],
  };
  initialBackendData = {
    totalNoOfRounds: 1,
    roundsDetails: [
      {
        roundNumber: 1,
        panelName: [
          {
            name: "",
            errMsg: "",
          },
        ],
      },
    ],
  };
  backendData: Array<IRoundObj> = [
    {
      roundNumber: 1,
      panelName: "",
    },
  ];
  mainData: IFrontendRoundData = {
    totalNoOfRounds: 1,
    roundsDetails: [],
  };
  async getRoundInfo(): Promise<void> {
    try {
      const res = await HTTP(
        `interviewrounds/getinterviewroundsdetails?driveId=${this.analytics_driveId}`
      );
      const data = await res.data;
      if (!data.error) {
        this.backendData = { ...data.data };
        this.convertDataFormat();
      }
    } catch (err) {
      console.log("error", err);
    }
  }
  convertackendDataToFrontend(): void {
    for (const rdObj in this.backendData) {
      this.mainData.roundsDetails.push(
        JSON.parse(JSON.stringify(this.roundDetailObj))
      );
      this.mainData.roundsDetails[rdObj].roundNumber = this.backendData[
        rdObj
      ].roundNumber;
      const panelNameArray = this.backendData[rdObj].panelName.split(",");
      for (const panelIndex in panelNameArray) {
        this.mainData.roundsDetails[rdObj].panelName.push(
          JSON.parse(JSON.stringify(this.panelObj))
        );
        this.mainData.roundsDetails[rdObj].panelName[panelIndex].name =
          panelNameArray[panelIndex];
      }
    }
  }
  convertDataFormat(): void {
    this.convertackendDataToFrontend();
    if (this.mainData.roundsDetails.length === 0) {
      this.mainData = JSON.parse(JSON.stringify(this.initialBackendData));
    }
    this.mainData.roundsDetails.sort((a, b) => a.roundNumber - b.roundNumber)
  }
  mounted(): void {
    this.getRoundInfo();
  }
  addPanelName(rc: IFrontendRoundObj): void {
    const finRound = this.mainData.roundsDetails.findIndex(
      (val) => val.roundNumber === rc.roundNumber
    );
    if (finRound !== -1) {
      this.mainData.roundsDetails[finRound].panelName.push(
        JSON.parse(JSON.stringify(this.roundObject.panelName[0]))
      );
    }
  }
  deletePanelName(index: number, rc: IFrontendRoundObj): void {
    const finRound = this.mainData.roundsDetails.findIndex(
      (val) => val.roundNumber === rc.roundNumber
    );
    if (finRound !== -1) {
      this.mainData.roundsDetails[finRound].panelName.splice(index, 1);
    }
  }
  addRound(): void {
    let localRoundObject = JSON.parse(JSON.stringify(this.roundObject));
    localRoundObject.roundNumber = this.mainData.roundsDetails.length + 1;
    this.mainData.roundsDetails.push(localRoundObject);
  }
  deleteRound(index: number): void {
    this.mainData.roundsDetails.splice(index, 1);
  }
  updatePanelNameValue(val: IPanelData, index: string): void {
    this.mainData.roundsDetails[index].panelName[val.index].name = val.val;
    if (val.val === "") {
      this.mainData.roundsDetails[index].panelName[val.index].errMsg =
        "Panel Name is required*";
    } else if (!validators.textValidator(val.val)) {
      this.mainData.roundsDetails[index].panelName[val.index].errMsg =
        "special characters are not allowed";
    } else {
      this.mainData.roundsDetails[index].panelName[val.index].errMsg = "";
    }
  }

  async addRoundInfo(): Promise<void> {
    try {
      const res = await HTTP.post(
        `interviewrounds/addinterviewrounds?driveId=${this.analytics_driveId}`,
        this.backendData
      );
      const resp = res.data;
      if (!resp.error) {
        this.updatePopUp({
          isPopUpVisible: true,
          popUpType: "success",
          popUpMessage: "Saved Successfully",
        });
      }
    } catch (err) {
      console.log("error", err);
    }
  }

  submitValue(): void {
    let errPesent = false;
    for (const key in this.mainData.roundsDetails) {
      for (const panelIndex in this.mainData.roundsDetails[key].panelName) {
        this.updatePanelNameValue(
          {
            index: panelIndex,
            val: this.mainData.roundsDetails[key].panelName[panelIndex].name,
          },
          key
        );
        if (
          this.mainData.roundsDetails[key].panelName[panelIndex].errMsg !== ""
        ) {
          errPesent = true;
        }
      }
    }
    if (errPesent !== true) {
      this.backendData = [];
      for (const key in this.mainData.roundsDetails) {
        this.backendData.push(JSON.parse(JSON.stringify(this.backendObj)));
        this.backendData[key].roundNumber = this.mainData.roundsDetails[
          key
        ].roundNumber;
        const panelArray: string[] = [];
        for (const panelName of this.mainData.roundsDetails[key].panelName) {
          panelArray.push(panelName.name);
        }
        this.backendData[key].panelName = panelArray.toString();
      }
      this.addRoundInfo();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.maincontainer {
  width: 100% !important;
  height: 100% !important;
  margin-top: 5rem;
}
.column1 {
  width: 85%;
}
.column2 {
  width: 15%;
  position: absolute;
  bottom: 50px;
  left: 70%;
}
.submitBtn {
  background-color: #0d144f;
  color: white;
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
}
.roundInfoContainer {
  width: 100%;
}
</style>
