<template>
  <div class="row">
    <div class="column1 mt-2 pt-2">
      <div class="iconClass">
        <font-awesome-icon
          icon="times-circle"
          @click="deleteRound"
          :style="getDisplayCloseIconStyle"
          class="iconClass1 cursorClass"
        />
        <font-awesome-icon
          icon="plus-circle"
          @click="addRound"
          :style="getDisplayPlusIconStyle"
          class="iconClass2 cursorClass"
        />
      </div>
      <div class="labelClass">
        <label>Round {{ roundNumber + 1 }} </label>
      </div>
    </div>
    <div class="column2 mb-4">
      <div
        class="row pt-2"
        v-for="(value, index) in roundsDetail.panelName"
        :key="index"
      >
        <Panal
          @addPanelName="addPanelName"
          @deletePanelName="deletePanelName(index)"
          @updatePanelNameValue="(val) => updatePanelNameValue(val, index)"
          :panelName="roundsDetail.panelName[index].name"
          :panelLastIndex="roundsDetail.panelName.length - 1 === index"
          :panelFirstIndex="roundsDetail.panelName.length !== 1"
        />
        <span
          :style="{
            display:
              roundsDetail.panelName[index].errMsg !== '' ? 'block' : 'none',
          }"
          class="errorClass"
          >{{ roundsDetail.panelName[index].errMsg }}</span
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from "vue-property-decorator";
import Panal from "@/components/Panal.vue";
interface IFrontendRoundObj {
  roundNumber: number;
  panelName: Array<IPanelObj>;
}
interface IPanelObj {
  name: string;
  errMsg: string;
}
interface IPanelData {
  val: string;
  index: string;
}
@Component({
  components: {
    Panal,
  },
})
export default class SingleRound extends Vue {
  @Prop() roundsDetail!: IFrontendRoundObj;
  @Prop() roundLastIndex!: boolean;
  @Prop() roundFirstIndex!: boolean;
  @Prop() roundNumber!: number;
  count = 1;
  @Emit("addRound")
  addRound(): number {
    return 0;
  }
  @Emit("addPanelName")
  addPanelName(): number {
    return 0;
  }
  @Emit("deleteRound")
  deleteRound(): number {
    return 0;
  }
  @Emit("deletePanelName")
  deletePanelName(index: number): number {
    return index;
  }
  @Emit("updatePanelNameValue")
  updatePanelNameValue(val: string, index: string): IPanelData {
    return {
      val: val,
      index: index,
    };
  }
  get getDisplayCloseIconStyle(): Partial<CSSStyleDeclaration> {
    return { display: this.roundFirstIndex ? "inline" : "none" };
  }
  get getDisplayPlusIconStyle(): Partial<CSSStyleDeclaration> {
    return { display: this.roundLastIndex ? "inline" : "none" };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 27%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 73%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.labelClass {
  float: right;
  width: 50%;
}
.iconClass1 {
  width: 50%;
  float: right;
  margin-top: 3px;
}
.iconClass2 {
  width: 50%;
  display: inline;
  margin-top: 3px;
}
.iconClass {
  display: inline;
  width: 50%;
  float: left;
}
.errorClass {
  color: red;
  font-size: 10px;
  text-align: left;
}
.cursorClass {
  cursor: pointer !important;
}
</style>
