<template>
  <div class="container col-md-4 col-sm-8 maincontainer">
    <div class="row align-items-center">
      <div class="fileUploadContainer">
        <input
          type="text"
          class="form-control inputBorder"
          placeholder="Drive Name"
          :value="mainObj.driveName"
          @change="updateName"
        />
        <span v-if="driveErrObj.driveNameErr !== ''" class="invalidClass">{{
          driveErrObj.driveNameErr
        }}</span>
        <input
          type="datetime-local"
          class="form-control inputBorder"
          placeholder="Drive Date Time"
          :value="mainObj.driveScheduledAt.replace(' ', 'T')"
          :min="minDateValidation"
          @change="updateDateTime"
        />
        <span v-if="driveErrObj.driveDateTimeErr !== ''" class="invalidClass">{{
          driveErrObj.driveDateTimeErr
        }}</span>
        <input
          type="text"
          class="form-control inputBorder"
          placeholder="Drive Owner"
          :value="mainObj.driveOwnerName"
          @change="updateDriveOwner"
        />
        <span v-if="driveErrObj.driveOwnerErr !== ''" class="invalidClass">{{
          driveErrObj.driveOwnerErr
        }}</span>
      </div>
      <div class="btnClass cursorClass">
        <div class="file fileUploadDiv btn btn-lg btn-primary uploadExcelClass">
          {{ uploadedfileName === "" ? "Upload Excel Sheet" : uploadedfileName
          }}
          <font-awesome-icon icon="upload" class="ml-2" />
          <input
            type="file"
            name="file"
            class="fileUpload"
            @change="onChange"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          />
        </div>
        <button class="btn m-2 submitBtn" @click="submitValue">submit</button>
      </div>
      <div class="errorText" v-if="driveErrObj.uploadedfileErr !== ''">
        {{ driveErrObj.uploadedfileErr }}
      </div>
    </div>
    <FileUploadPopUp
      :showPopUp="showPopUp"
      @closeModal="closeModal"
      @emitUpdateData="emitUpdateData"
      @saveData="saveCandidateData"
      :previousDataInfo="previousDataInfo"
      :dataErrMsg="driveErrObj.dataInfoErr"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import XLSX from "xlsx";
import { candidateDataObj } from "@/modals/candidateDetail";
import FileUploadPopUp from "@/components/FileUploadPopUp.vue";
import { HTTP } from "@/http/http-common";
import { Action } from "vuex-class";
interface IKeyMatchObj {
  candidateId: string;
  serialNo: string;
  name: string;
  contactNumber: string;
  emailId: string;
  degree: string;
  stream: string;
  yop: string;
  tenth: string;
  twelfth: string;
  degreeMarks: string;
  masterDegreeAggregate: string;
  jspidersBranch: string;
}
interface ICandidateData {
  name: string;
  contactNumber: string;
  emailId: string;
  degree: string;
  stream: string;
  yop: number;
  tenth: number;
  twelfth: number;
  degreeMarks: number;
  status: string;
  jspidersBranch: string;
  masterDegreeAggregate: number;
}

@Component({
  components: {
    FileUploadPopUp,
  },
})
export default class Upload extends Vue {
  @Prop() driveId!: string;
  @Action("updatePopUp") updatePopUp;
  candidateData: ICandidateData = candidateDataObj;
  showPopUp = false;
  previousDataInfo = "";
  keyMatch = {
    candidateId: "",
    serialNo: "Sl.No",
    name: "Name",
    contactNumber: "contact number",
    emailId: "mail id",
    degree: "Degree",
    stream: "stream",
    yop: "YOP",
    tenth: "10th %",
    twelfth: "12th %",
    degreeMarks: "Degree %",
    masterDegreeAggregate: "Master Aggregate",
    jspidersBranch: "Branch",
  };
  excelArrayKey = [
    "Sl.No",
    "Name",
    "contact number",
    "mail id",
    "Degree",
    "YOP",
    "10th %",
    "12th %",
    "Degree %",
    "Master Aggregate",
    "Branch",
  ];
  mainData: Array<any> = [];
  emitUpdateData(val: string): void {
    this.previousDataInfo = val;
    this.validateData();
  }
  getKeyByValue(object: IKeyMatchObj, value: string): string | undefined {
    return Object.keys(object).find((key) => object[key] === value);
  }
  closeModal(): void {
    this.showPopUp = false;
  }
  uploadedfileName = "";
  mainObj = {
    driveName: "",
    driveOwnerName: "",
    driveScheduledAt: "",
    lastUpdatedAt: null,
    lastUpdatedBy: null,
    totalNumberOfRounds: 3,
    candidateData: [
      {
        name: "milagrin dsouza",
        emailId: "pradyumsw@gmail.com",
        contactNumber: "7676774797",
        stream: "cs",
        tenthPercentage: 68,
        twelfthPercentage: 78,
        degree: "be",
        degreePercentage: 52,
        jspiderBranch: "rajajinagar",
        masterDegreeAggregate: 56,
        yop: 2020,
        status: "selected",
        lastUpdatedAt: null,
        lastUpdatedBy: null,
      },
      {
        name: "shravan honnapur",
        emailId: "shravan@gmail.com",
        contactNumber: "7022326895",
        stream: "cs",
        tenthPercentage: 78,
        twelfthPercentage: 78,
        degree: "be",
        degreePercentage: 80,
        jspiderBranch: "basvangudi",
        masterDegreeAggregate: 56,
        yop: 2020,
        status: "addressing",
        lastUpdatedAt: null,
        lastUpdatedBy: null,
      },
      {
        name: "shravankumar",
        emailId: "shravan@gmail.com",
        contactNumber: "7022326895",
        stream: "cs",
        tenthPercentage: 78,
        twelfthPercentage: 78,
        degree: "be",
        degreePercentage: 80,
        jspiderBranch: "basvangudi",
        masterDegreeAggregate: 56,
        yop: 2020,
        status: "addressing",
        lastUpdatedAt: null,
        lastUpdatedBy: null,
      },
    ],
  };
  driveErrObj = {
    driveNameErr: "",
    driveOwnerErr: "",
    driveDateTimeErr: "",
    uploadedfileErr: "",
    dataInfoErr: "",
  };

  mounted(): void {
    if (this.driveId !== "") {
      this.getDriveInfo();
    }
  }
  validateData(): void {
    if (this.previousDataInfo !== "" && this.previousDataInfo !== "partial") {
      this.driveErrObj.dataInfoErr = "";
    } else {
      this.driveErrObj.dataInfoErr =
        "Sorry, updating partial data is not supported Please select Yes or NO";
    }
  }
  saveCandidateData(): void {
    this.validateData();
    if (this.driveErrObj.dataInfoErr === "") {
      this.updateDriveData();
      this.closeModal();
    }
  }
  async addDriveData(): Promise<void> {
    try {
      const driveDate = this.mainObj.driveScheduledAt.replace("T", " ");
      this.mainObj.driveScheduledAt = driveDate.split(".")[0];
      const res = await HTTP.post(`adddriveinfo`, this.mainObj);
      const resp = res.data;
      if (!resp.error) {
        this.updatePopUp({
          isPopUpVisible: true,
          popUpType: "success",
          popUpMessage: "Saved Successfully",
        });
      }
    } catch (err) {
      console.log("error", err);
    }
  }

  async updateDriveData(): Promise<void> {
    try {
      let driveDate = "";
      if (this.mainObj.driveScheduledAt.indexOf("T") !== -1) {
        driveDate = this.mainObj.driveScheduledAt.replace("T", " ");
        this.mainObj.driveScheduledAt = driveDate
        if (driveDate.indexOf(".") !== -1) {
          this.mainObj.driveScheduledAt = driveDate.split(".")[0];
        } else {
          const dateFormat = driveDate.split(":");
          if (dateFormat.length === 2) {
            dateFormat.push("00")
            this.mainObj.driveScheduledAt = dateFormat.join(":");
          }
        }
      }
      const res = await HTTP.post(
        `updatecandidateinfo?key=${this.previousDataInfo}&driveId=${this.driveId}`,
        this.mainObj
      );
      const resp = res.data;
      if (!resp.error) {
        this.updatePopUp({
          isPopUpVisible: true,
          popUpType: "success",
          popUpMessage: "Updated Successfully",
        });
      }
    } catch (err) {
      console.log("error", err);
    }
  }

  submitValue(): void {
    this.validateName();
    this.validateDateTime();
    this.validateDriveOwner();
    this.validateUploadedFile();
    let isErrorPresent = false;
    for (const errrobj in this.driveErrObj) {
      if (this.driveErrObj[errrobj] !== "") {
        isErrorPresent = true;
        break;
      }
    }
    if (this.driveId !== "") {
      if (isErrorPresent === false) {
        this.showPopUp = true;
      }
    } else {
      if (isErrorPresent === false) {
        this.addDriveData();
      }
    }
  }
  validateName(): void {
    if (this.mainObj.driveName === "") {
      this.driveErrObj.driveNameErr = "Drive name is required*";
    } else {
      this.driveErrObj.driveNameErr = "";
    }
  }

  validateDateTime(): void {
    if (this.mainObj.driveScheduledAt === "") {
      this.driveErrObj.driveDateTimeErr = "Drive date is required*";
    } else {
      this.driveErrObj.driveDateTimeErr = "";
    }
  }
  validateDriveOwner(): void {
    if (this.mainObj.driveOwnerName === "") {
      this.driveErrObj.driveOwnerErr = "Drive owner is required*";
    } else {
      this.driveErrObj.driveOwnerErr = "";
    }
  }

  validateUploadedFile(): void {
    if (this.uploadedfileName === "") {
      this.driveErrObj.uploadedfileErr = "Please upload file*";
    } else if (this.uploadedfileName === "") {
      this.driveErrObj.uploadedfileErr = "";
    }
  }

  updateName(event: KeyboardEvent): void {
    this.mainObj.driveName = (event.target as HTMLInputElement).value;
    this.validateName();
  }

  updateDateTime(event: KeyboardEvent): void {
    this.mainObj.driveScheduledAt = (event.target as HTMLInputElement).value;
    this.validateDateTime();
  }
  updateDriveOwner(event: KeyboardEvent): void {
    this.mainObj.driveOwnerName = (event.target as HTMLInputElement).value;
    this.validateDriveOwner();
  }

  @Watch("mainData", { deep: true })
  updateDataModal(): void {
    const excelKey = JSON.parse(JSON.stringify(this.excelArrayKey));
    if (this.mainData && this.mainData.length > 0) {
      if (this.mainData[0] && this.mainData[0].length > 0) {
        for (const i in excelKey) {
          if (Object.keys(this.mainData[0][0]).includes(excelKey[i])) {
            excelKey[i] = "true";
          }
        }
      }
    }
    const resArry = excelKey.filter((val) => val === "true");
    if (resArry.length === excelKey.length) {
      for (const singleObj of this.mainData[0]) {
        for (const key in singleObj) {
          const mainkey = this.getKeyByValue(this.keyMatch, key);
          if (mainkey) {
            this.candidateData[mainkey] = singleObj[key];
          }
        }
        this.mainObj.candidateData.push(
          JSON.parse(JSON.stringify(this.candidateData))
        );
      }
      this.driveErrObj.uploadedfileErr = "";
    } else {
      this.driveErrObj.uploadedfileErr = "Invalid format";
    }
  }
  get minDateValidation(): string {
    const iso = new Date().toISOString();
    const minDate = iso.substring(0, iso.length - 1);
    return minDate;
  }
  onChange(e: Event): void {
    this.mainData = [];
    const files = (e.target as HTMLInputElement).files;
    if (files) {
      const f = files[0];
      const reader = new FileReader();
      const rABS = !!reader.readAsBinaryString;
      let data = {};
      this.uploadedfileName = f.name;
      reader.onload = (e) => {
        /* Parse data */
        const bstr = (e.target as FileReader).result;
        const wb = XLSX.read(bstr, {
          type: rABS ? "binary" : "array",
          bookVBA: true,
        });
        /* Get first worksheet */
        const wsname = wb.SheetNames[0];
        const ws = wb.Sheets[wsname];
        /* Convert array of arrays */
        data = XLSX.utils.sheet_to_json(ws);
        this.mainData.push(data);
        /* Update state */
      };

      if (rABS) {
        reader.readAsBinaryString(f);
      } else {
        reader.readAsArrayBuffer(f);
      }
      this.validateUploadedFile();
    }
  }
  async getDriveInfo(): Promise<void> {
    try {
      const res = await HTTP(`getdriveinfo?driveId=${this.driveId}`);
      const data = await res.data;
      this.mainObj = { ...data.data };
    } catch (err) {
      console.log("error", err);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.maincontainer {
  width: 100% !important;
}
.btn {
  border: 1px solid #0d144f; /* Remove borders */
  color: white; /* White text */
  padding: 5px 12px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
.invalidClass {
  margin-bottom: 2px;
  font-size: 10px;
  color: red;
  float: left;
  display: block;
}
.uploadExcelClass {
  background-color: #0d144f;
  width: 200px;
  text-overflow: ellipsis;
  height: 35px;
  white-space: nowrap;
}
.submitBtn {
  color: #0d144f;
}
.fileUpload {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.fileUploadDiv {
  position: relative;
  overflow: hidden;
}
.inputBorder {
  margin-top: 1.5rem !important;
  border: 1px solid black !important;
}
.btnClass {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.errorText {
  color: red;
  width: 100%;
  text-align: center;
  margin-left: -2rem;
  margin-top: 2px;
  font-size: 10px;
}
.cursorClass {
  cursor: pointer !important;
}
.fileUploadContainer {
  width: 100%;
}
</style>
