<template>
  <v-app>
    <NavBar />
    <div class="innerContainer">
      <!-- <div class="card card-body mt-3 mx-3 backpage"> -->
      <!-- <button @click="logout">Logout</button> -->
      <router-view></router-view>
      <PopUp />
      <Loading v-if="loading" />
      <!-- </div> -->
    </div>
  </v-app>
</template>

 
<script lang="ts">
import Vue from "vue";
import NavBar from "./components/NavBar.vue";
import PopUp from "./components/PopUp.vue";
import Loading from "./components/Loading.vue";
import { Component, Prop } from "vue-property-decorator";
import { State } from "vuex-class";
@Component({
  name: "App",
  components: {
    NavBar,
    PopUp,
    Loading,
  },
})
export default class App extends Vue {
  @Prop() keycloak;
  @State((state) => state.loading) loading;


  // logout() {
  //   console.log('keycloak', this.keycloak)
  //   this.keycloak.logout();
  // },
}
</script>
<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #e1e2e4a1;
}
#main {
  background-color: #e1e2e4a1;
}

.backpage {
  min-height: 600px !important;
}
</style>